[2020-07-17 13:43] coolcat-creations opened #1 "HowTos"
Hello!
Can anyone explain what this is and how it's used?

$wa   = $this->getWebAssetManager();

// Enable assets
$wa->usePreset('template.cassiopeia.' . ($this->direction === 'rtl' ? 'rtl' : 'ltr'))
	->useStyle('template.active.language')
	->useStyle('template.user')
	->useScript('template.user');

$wa->registerStyle

$this->getPreloadManager()

Thank you!

[2020-07-22 13:59] helvecio opened #2 "Create template mockups"
- [x] home
- [x] single article
- [x] blog view
- [x] category view
- [x] category list
- [ ] image gallery
- [ ] video gallery
- [x] contact form
- [ ] error.php
- [ ] component.php
- [ ] offline.php

[2020-07-22 14:09] helvecio opened #3 "Review sample data"

[2020-07-22 14:10] helvecio opened #4 "Create template HTML"

[2020-07-22 14:10] helvecio opened #5 "Convert HTML to Joomla template"

[2020-07-22 14:10] helvecio opened #6 "Create template package"

[2020-07-22 14:10] helvecio opened #7 "Test Template on different environments"

[2020-07-22 14:10] helvecio opened #8 "Check for issues"

[2020-08-10 13:07] chmst opened #9 "templates/cassiopeia/html/mod_menu/metismenu.php"
### Is your feature request related to a problem? Please describe.
The template cassopeia does not have a accessible drop down menu with n sublevels

### Describe the solution you'd like
Write an alternative layout for the module mod_menu based on the js variant of metismenu
Must be also designed and tested for rtl languages

### Additional context

[2020-08-11 08:10] chmst opened #10 "index.php accessible structure"
### Is your feature request related to a problem? Please describe.
Best practice for accessible templates is consequent usage of landmarks (sections).

### Describe the solution you'd like
Replace divs by sections where possible

### Additional context
This has been already started by Hans Kuipers - must be integrated into the project

[2020-08-11 08:16] chmst commented on #8
Is ths related to the issue-tracker? Check for open issues for cassioy?peia and accessibility?

[2020-08-11 10:18] chmst opened #11 "RFC: Do we need a basic fontsize as parameter?"
See Backend - the basic fontsize is variable, with default 16px but webdesiger can select another basic fontsize.

Can or should we have such a parameter?

[2020-08-11 11:09] chmst opened #12 "RFC: Params in Menu for columns layout"
### Is your feature request related to a problem? Please describe.
Version 3.x has params for multi column layout. How can we provide this in cassiopeia
In https://issues.joomla.org/tracker/joomla-cms/18516 the multicolumn layout is done and merged.

Is something left to do for this team?

[2020-08-11 11:32] drmenzelit commented on #11
If we want to make Cassiopeia accessible we should use relative font sizes. I find this article very interesting:
https://css-tricks.com/accessible-font-sizing-explained/

[2020-08-11 13:46] richard67 commented on #9
Branch for this work is [https://github.com/joomla/cassiopeia/tree/4.0-dev-metismenu-frontend](https://github.com/joomla/cassiopeia/tree/4.0-dev-metismenu-frontend).

It contains already a first implementation by @hans2103 .

To suggest changes, make PRs against that branch, e.g. like #13 .

I recommend to put the name of the target branch in squared brackets to the beginning of the title, so we c

[2020-08-11 18:12] drmenzelit opened #14 "Enable selfhosting of selected Google fonts"

[2020-08-11 18:12] drmenzelit opened #15 "Template Param: Selection of a Google Font"

[2020-08-11 18:15] richard67 commented on #14
I've prepared a target branch for this work: [https://github.com/joomla/cassiopeia/tree/4.0-dev-google-fonts-enhancements](https://github.com/joomla/cassiopeia/tree/4.0-dev-google-fonts-enhancements).

I suggest to make pull request(s) against this branch for the implementation.

[2020-08-11 18:19] richard67 commented on #15
I've prepared a target branch for other works related to Google fonts, mainly for issue #14 : https://github.com/joomla/cassiopeia/tree/4.0-dev-google-fonts-enhancements.

Do you think it makes sense to handle the implementation to solve this issue here with the same branch?

Or should we keep it separate? if so, let me know and I create a new target branch for that.

[2020-08-11 18:33] chmst opened #16 "Test a11y for metismenu, find testers in J"

[2020-08-11 18:33] chmst opened #17 "Sample data photos. Sample data photos are old and old fashioned."
The photos used in Joomla sample data look rather old and not attractive. New images should be added to the sample data.
Joomla (marketing) has a license to 123rf.
@marcodings can help here.

[2020-08-12 09:26] chmst commented on #11
This is already in cassiopeia. Basic fon-size is 14px, see _variables.scss.
The Fonts variables are calculated based in the Font Fira.

Maybe this is not matching other fonts. Some fonts are rather small and would need a bigger (or smaller) $font-size-root.
BUT then every other font-size and line height must be calculated.

[2020-08-12 14:53] drmenzelit commented on #11
font-size 14px is small... browser have normally 16px as basis size...

[2020-08-12 18:41] hans2103 commented on #11
I we want to make Cassiopeia accessible we should use `1em` as a basic font-size.
Doing so it will use the default browser font-size as fallback. In my case 16px, while my mother uses 20px.

[2020-08-14 12:17] chmst opened #20 "Accessible Module Search in frontend"
The search module in cassiopeia need a11y test in every variant, just as confirmation. AXE and Wave say that the form is ok.

- [ ] with label and / or icon
- [ ] in extended form
- [ ] as a component
- [ ] With search results
- [ ] on different places

[2020-08-15 18:04] chmst opened #24 "Template Param: use a colour palette"
### Feature Request

The user must be able to select a colour palette. In the backend template atum, this is possible.

We can either define some nice and a11y colour palettes or use the solution from atum.

Most important: The solution must be fast.

A colour palette must be accessible - contrast ratio, colour blindness.

[2020-08-16 06:15] N6REJ commented on #24
is something like this helpful?
https://github.com/Simonwep/pickr

[2020-08-16 08:27] brianteeman commented on #17
Pretty certain that we would not be able to use the images from 123rf as that would be "distributing" the images and not using them for "marketing" which is usually excluded.

You can find great cc0 licenced images at either pexels.com or unsplashed.com

[2020-08-16 08:38] brianteeman commented on #9
What is the problem that is being solved here. metismenu requires jquery and I "thought" we were working to reduce jquery and not add more.

It is perfectly possible to create accessible drop down menus with bootstrap 4 and no additional scripts.

I've done it on several sites. The starting point for the code if i remember correctly was by @coolcat-creations https://github.com/coolcat-creations/cc

[2020-08-16 08:56] hans2103 commented on #9
@brianteeman you are correct... MetisMenu requires jQuery. On the other hand, MetisMenuJS does not require jQuery. It is written with Vanilla JS. Joomla 4 administrator uses MetisMenuJS (non-jQuery) and that is the reason why Cassiopeia is going to use MetisMenuJS (non-jQuery)

https://github.com/onokumus/metismenu
https://github.com/onokumus/metismenujs

[2020-08-16 09:01] brianteeman commented on #9
Ok

[2020-08-16 10:01] chmst commented on #24
We may to have new dependencies if possible.
We must evaluate the solution in the backend and need all information we can get, especially for concerning performance, as I remember controverse discussions.

[2020-08-16 10:05] brianteeman commented on #11
You should also be aware that it is quite common for non latin character fonts to be very small

[2020-08-16 18:36] richard67 commented on #20
Branch prepared for this task: https://github.com/joomla/cassiopeia/tree/4.0-dev-frontend-search

[2020-08-16 19:47] chmst opened #27 "Improve Texts for Sample Data"
### Is your feature request related to a problem? Please describe
Sample Data represent Joomla after installation. The Sample texts are old and it is a chance now to mke good marketing.

### Describe the solution you'd like
I would like to have good texts for sample data and good icons and images.
We can present J4 and new features of J4 or anything which helps to make the prodoct attractive.

###

[2020-08-16 19:49] chmst commented on #3
Sample Data now have a menu with 2 submenus and show menu and search module in the header. See also #27

[2020-08-17 18:01] drmenzelit opened #29 "Problem closing a sub-menu in MetisMenu"
### Steps to reproduce the issue
Install the the metismenu branch (https://github.com/joomla/cassiopeia/tree/4.0-dev-metismenu-frontend), create a menu with submenus (using menu heading as level 0) on position "menu" and alternative layout "metismenu". Try to open and close the submenu.

### Expected result
The submenu closes and disappears.

### Actual result
The submenu stay open or somehow visi

[2020-08-17 18:10] richard67 commented on #29
You have run „npm ci“ to compile js and scss after having checked out the branch?

[2020-08-17 18:47] drmenzelit commented on #29
We are including the js file from media folder, so I think it is already compiled? But I checked also after running npm ci and the problem persists....

[2020-08-17 19:37] chmst commented on #29
Strange behaviour (npm ci done): Click on the parent - th submeu is not closed. Then hover the Submenu and it disappears

![metismenu](https://user-images.githubusercontent.com/1035262/90436905-c10f1800-e0d1-11ea-9721-66ccc4368836.gif)

[2020-08-18 07:01] hans2103 commented on #29
I can confirm the strange behavior. I can click to open, cannot click second time to close.

We are using MetisMenuJS, the same as implemented on Admin.
We've added a trigger to let MetisMenuJS work.
https://github.com/joomla/cassiopeia/pull/26/files#diff-f84eb3e36ede591cb5c995c6e9aece74

When loading the page you can see that MetisMenuJS is loaded, because some extra classes are added by MetisMen

[2020-08-18 07:34] richard67 commented on #29
I'm not a javascript expert so can't say right now what all is needed from the admin menu and what not.

It would need me a couple of hours to analyse that. I don't have this time before weekend.

Anyway, I think we should try to simplify that, remove all what is not really needed.

@chmst Do you know who was involved in making the admin menu, especially the js, so we can ask the right expert?

[2020-08-18 08:22] chmst commented on #29
@Hackwar did much of the work. in backend. Please Hannes, can you have a look here?

[2020-08-18 11:45] chmst commented on #29
Another issue is, that te parent for the 3rd lavel (tpye heading) has not arrow

[2020-08-18 14:05] hans2103 commented on #20
@richard67 pr created
https://github.com/joomla/cassiopeia/pull/30

[2020-08-18 14:06] hans2103 commented on #20
form itself looks fine to me. Even on different places.

[2020-08-18 16:12] ciar4n commented on #29
Test https://github.com/joomla/cassiopeia/pull/26#issuecomment-675572868

[2020-08-19 08:07] richard67 opened #32 "[RFC] Shall we rename the "Google Fonts" option to something more general and group fonts by vendors?"
RFC about changes on PR #18 .

### Problem identified

The use of local fonts is not really limited to Google Fonts.

When PR #18 will be ready we will be able to download and use fonts from any fonts provider or vendor as long as they are available in woff and woff2 format.

So naming the option "Google Fonts" might be at least misleading.

I ask all to suggest a better naming or vote for some su

[2020-08-19 08:20] brianteeman commented on #32
1. Grouping by vendor
As a user I wouldnt know the difference so it would be an arbitrary separation

2. Folders
Why are the folders not templates/system/fonts and then the physical files that ship with joomla are available to all templates. A template can then add additional fonts to templates/template_name/fonts.  As it is  right now any template that wanted to use one of the fonts that you are

[2020-08-19 08:23] richard67 commented on #32
Correct. I thought about this issue, too. We should change it that way.

[2020-08-19 08:28] richard67 commented on #32
Would it then make sense to group the fonts like we now group layouts? I.e. first group "--- From System ---" and second group "--- From <template name> Template ---"?

[2020-08-19 08:46] brianteeman commented on #32
Yes perhaps. Although you will still end up with duplicate template font files if you copy the template. I'm still to hear a good reason for joomla or the templates to ship physical fonts

[2020-08-19 08:54] richard67 commented on #32
Well, correct me if I'm wrong, but since the European Supreme Court has invalidated the Privacy Shield agreement with the US, it is (or will soon be after a certain time for accomodation) not be allowed anymore to store personal data in the US, and the client's IP address is considered to be personal data.

That's at least what I know is the reason behind that decision, which was not mine by the w

[2020-08-19 09:08] brianteeman commented on #32
It is nothing to do with google its the way the internet works. Access something and your ip address is part of the request. By that token you can't host your site on a cdn or on a hosting provider that is not in the EU. Irrespective of where the font is. So are we making joomla.com not available to anyone outside the USA. And that means not just site owners but you would also have to prevent site

[2020-08-19 09:13] richard67 commented on #32
That's why I think they'll find a new agreement.

[2020-08-19 10:20] richard67 commented on #32
What comes into my mind: Why do we want to **_replace_** the Google fonts option by the local fonts? Why not **_adding_** it so we have 3 options:
- "Standard", that should work like now in J3 when Google Fonts is switched off for the Protostar template.
- "Google fonts" as we have it now in 4.0-dev - if necessary we can add some GDPR warning to that option ;-)
- "Local fonts" (wherever they come

[2020-08-19 13:41] chmst commented on #32
Good for me.

"cassiopeia default font (name)" delivered with cassiopeia in templates/cassiopeia/fonts/
"external fonts" (with GDPR warning).
"local fonts"

Then all the questions in the german forum about how to get rid from the google fonts are history :) and it is a good argument in the privacy package.

[2020-08-19 14:13] richard67 commented on #32
I think you got that wrong. In "templates/cassiopeia/fonts/" we have the fonts for the 3rd option, local fonts, like added here with PR #18 . What I mean with the first option is what you have now when you switch off Google Fonts.

[2020-08-19 14:14] richard67 commented on #32
@chmst Sorry, have forgotten to explicitely ping you in my previous comment.

[2020-08-19 14:23] richard67 commented on #32
@chmst Ah, silly me!! There is nothing to be switched off without PR #18 ! Well, option 1 should work like in Protostar in J3 when the Google Fonts are switched off.

[2020-08-19 15:29] drmenzelit commented on #32
@chmst in PR #18 I already implemented the switch like in Protostar:
Google Font yes / no
If yes -> load local Google Font
If no -> system font defined by template (in this case by Bootstrap)

[2020-08-19 15:45] drmenzelit opened #33 "Change HTML structure of the template"
Change the structure from index.php to adapt to the new design. The names of the positions shouldn't change. We should work with sections instead of div container.

- [x] Logo + Search

- [x] Menu

- [x] Banner -> we can eventually create a new chrome to have an image with text overlay

- [x] Top-A Modul -> Main Features, it can be a custom module or one of the articles module (category, latest, e

[2020-08-19 19:04] N6REJ commented on #32
If yes -> load local Google Font
OR -> local font ( use folders )
If no -> system font defined by template (in this case by Bootstrap)

[2020-08-19 19:22] richard67 commented on #32
@N6REJ Check again my comment above: https://github.com/joomla/cassiopeia/issues/32#issuecomment-676093848

I had the idea for 3 options, but the 2nd one with Google Fonts would not be local, it would be like what is now in J4 in Cassiopeia, without our ongoing works. It would still be called Google Fonts because loading from the Google Fonts API. Only the 3rd option would load local fonts, but th

[2020-08-19 19:32] N6REJ commented on #32
"Standard", that should work like now in J3 when Google Fonts is switched off for the Protostar template. = will use BS font set.

"Google fonts" as we have it now in 4.0-dev - if necessary we can add some GDPR warning to that option ;-) = will use api ( will require "showon" fields for url & font family

"Local fonts" (wherever they come from) - if this is selected we see the additional select fo

[2020-08-19 19:36] richard67 commented on #32
Not sure if we need that. It could blow it up a bit. But other opinions are welcome.

Additional fields? Which? I'd make it possible to add more local fonts, but that would be more options of a driop down, not additional field. Or did I get your idea wrong?

[2020-08-19 19:42] N6REJ commented on #32
when they choose google font ( of any method ) they have to provide 2 fields..
One is font url
Other is font family.
![image](https://user-images.githubusercontent.com/1850089/90682185-368dfc00-e22a-11ea-8908-ddff24d25d3b.png)

[2020-08-19 19:45] N6REJ commented on #32
The only way around this is if we provide the list via api call ( many templates do it this way )

[2020-08-19 19:55] richard67 commented on #32
I do not really want to provide an interface to download the local fonts (3rd option in my list). I only want the drop down to select them being populated with the lost of locally available css files for these fonts without the need to edit the XML file for adding hard-coded options. No need to access any API.

For the Google Fonts option, 2nd option in my list, I do not want the font to be select

[2020-08-20 12:16] chmst opened #34 "Card Layout for category blog"
### Is your feature request related to a problem? Please describe.
The new design shows a card layout for blog layout
This enables us to add the params for "number of colums" from 3.9

### Describe the solution you'd like
Write the layout for caregory blog

[2020-08-20 12:18] chmst opened #35 "Card Layout for custom modules"
### Is your feature request related to a problem? Please describe.
The new design shows modules in a special card layout

### Describe the solution you'd like
Add and alternative layout

[2020-08-20 12:26] chmst opened #36 "Modules as discs"
### Is your feature request related to a problem? Please describe.
The new Layout shows a disc layout for modules

### Describe the solution you'd like
Let we make that by users (bootstrap) or can we add a class or a layout?

### Additional context

[2020-08-20 12:49] chmst commented on #15
Closed as we have a PR

[2020-08-20 12:49] #15 closed, assigned to drmenzelit

[2020-08-20 12:50] chmst commented on #11
Releated https://issues.joomla.org/tracker/joomla-cms/29411

[2020-08-20 13:04] brianteeman commented on #36
disc???

[2020-08-20 13:06] chmst commented on #36
border-radius 50%

[2020-08-20 13:09] brianteeman commented on #36
Ah now I understand

[2020-08-20 13:10] chmst commented on #8
https://github.com/joomla/joomla-cms/issues?q=is%3Aopen+is%3Aissue+label%3A%22J4+Frontend+Template%22

[2020-08-20 13:10] chmst commented on #36
How would you call this? I did not find the right word

[2020-08-20 13:18] brianteeman commented on #36
Well bootstrap just calls it rounded-circle as opposed to rounded-pill
https://getbootstrap.com/docs/4.5/utilities/borders/#border-radius

Can't say I see a need for this

[2020-08-20 13:54] richard67 commented on #36
Pizza shape? ;-)

[2020-08-20 20:13] chmst commented on #36
:) circle without corners? rounded-circle is a pleonasmus - and my home made pizza is rectangular with rounded corners

[2020-08-20 23:12] N6REJ commented on #36
@chmst in woodworking its called a biscuit.
![image](https://user-images.githubusercontent.com/1850089/90834709-8515c600-e310-11ea-98ef-6fcd5cb99f17.png) and in normal life an ellipsis.
"The member button is an ellipsis but I'm not sure an elliptical button is the best idea.  The smiley is circular and I'm confident a circle is a much better idea."

[2020-08-20 23:14] N6REJ commented on #36
Too make it more confusing, an ellipsis IS circular lol

[2020-08-21 06:13] hans2103 commented on #35
@chmst Is this what you mean with the "special card layout"?

<img width="191" alt="Schermafbeelding 2020-08-21 om 08 10 35" src="https://user-images.githubusercontent.com/639822/90858206-09eef700-e386-11ea-87ec-d39293772417.png">

It's a box with an image and text-area. The text area has a title, body text and an action button.
I would like to suggest to implement the card as described by Heydon

[2020-08-21 06:16] hans2103 commented on #34
@chmst if it is the same as I described in https://github.com/joomla/cassiopeia/issues/35#issuecomment-678061509 we should use JLayouts for that.

[2020-08-22 16:38] N6REJ opened #40 "Remove "Bottom menu""
### Steps to reproduce the issue

bottom menu is used to create a back-to-top button.  This is the wrong way to do this.

### Expected result
menu followed active parent

### Actual result
text static

### System information (as much as possible)

### Additional comments
use https://github.com/joomla/joomla-cms/pull/30441 instead

[2020-08-25 09:41] chmst commented on #8
Assigned to members who are in other groups. We can see if somthing is related to cassiopeia

[2020-08-25 14:38] richard67 commented on #33
Any of the above points already solved with PR #41 ?

[2020-08-26 08:56] chmst commented on #29
closed as we have a PR

[2020-08-26 08:56] #29 closed, assigned to nobody

[2020-08-26 08:59] chmst opened #44 "Menu item of typ heading in metismenu needs styling"
### Steps to reproduce the issue
Have a menu item of typ heading in the metismenu. It is not styled as menuItem.

<img width="508" alt="metismenu-heading" src="https://user-images.githubusercontent.com/1035262/91283559-09da6700-e78b-11ea-8a55-2932b4271967.PNG">

[2020-08-27 13:09] chmst commented on #44
Is indented correctly now, so I close this issue

[2020-08-27 13:09] #44 closed, assigned to nobody

[2020-08-27 15:15] chmst commented on #12
Missing descriptioon in the params of blog lyyout is an issue of J4. Close here.

[2020-08-27 15:15] #12 closed, assigned to nobody

[2020-08-29 09:58] richard67 opened #47 "[Metismenu] Since recent scss changes, the active menu item is not visualized anymore"
Issue for PR #46 .

### Steps to reproduce the issue

Install the latest testing branch and then blog sampe data, see #37 .

Check on frontend by selecting different menu teims if the active item on top level is visualized somehow.

In J4 standard Cassiopeia it looks like underlined, but in fact it was a border. E.g with blog sample data installed, active menu item = "About":
![j4-active-menu-stan

[2020-08-31 18:39] drmenzelit opened #51 "Change template scss variables to css variables"
The use of css variables instead of scss ones will improve the modularization of the css code. For example we can create a css file for modules stuff that is only loaded when a module is in use.

Examples:
// Global
$cassiopeia-template-color-dark:
$cassiopeia-template-color:
$cassiopeia-container-main-bg:
$cassiopeia-border-color:

can be changed to
// Global
--cassiopeia-template-color-dark:
--c

[2020-09-01 06:31] chmst commented on #10
As JAT requested that modules must be tagged as section, this mus be madt in installation data for the login and main menu - and in sample data for all modules.

Open question: Why is it necessary only in frontend and never was required for the backend modules?

[2020-09-01 06:42] brianteeman commented on #10
because like all generic advice its not correct or perhaps just not complete

1. It is often the module position that **could** be a section not a module especially if there is more than one module in the position
2. the landmark may or may not be a section depending on the content of the module. there are lots of different landmarks
3. modules can already have appropriate landmarks set in their a

[2020-09-01 07:14] hans2103 commented on #20
@chmst
- created PR joomla/joomla-cms#30528 to solve the legend issue.
- created PR joomla/joomla-cms#30534 to solve styling of search results
- created PR joomla/joomla-cms#30535 to add statement of search results

[2020-09-01 08:27] ghost opened #52 "RTL: Missing Space on last Menu-Element"
### Steps to reproduce the issue
- Add a Smart Search-Module at Position "Search"
- Add a Menu-Module at Position "Menu"
- Compare Space at last Menu-Element between
LTR and
![Screen Shot 2020-09-01 at 10 13 51](https://user-images.githubusercontent.com/70466955/91825536-b493cf00-ec3c-11ea-9c84-5683994b3fc6.png)
RTL
![Screen Shot 2020-09-01 at 10 06 51](https://user-images.githubusercontent.com/70

[2020-09-01 12:40] chmst commented on #36
will not be added to cassiopeia

[2020-09-01 12:40] #36 closed, assigned to nobody

[2020-09-01 12:57] chmst commented on #27
https://xd.adobe.com/view/fdb1d68f-76cd-404f-bfbe-ae9f0c1e32f7-a8e2/?fullscreen

[2020-09-01 18:20] brianteeman opened #53 "Metismenu"
The metismenu has been implemented as a template override.

This means it is ONLY available to cassiopeia and EVERY template will need to copy it and include it with the files they ship if they want a usable menu.

It should be a core layout and if necessary some additional css for cassiopeia to match that templates style.

Whenever you create an override in a core template it should set off a big

[2020-09-01 18:22] richard67 commented on #53
See also @ciar4n comment here: [https://github.com/joomla/cassiopeia/pull/49#issuecomment-685046982](https://github.com/joomla/cassiopeia/pull/49#issuecomment-685046982).

[2020-09-01 18:26] chmst commented on #1
Add also documentation of the Metismenu - 2 sublevels maximum.

[2020-09-01 19:05] ciar4n commented on #53
Probably not relevant here as that comment is related to how the override is implemented. Brians point is regarding should the core template have overrides or not which is a wider discussion.

[2020-09-01 21:25] chmst commented on #53
At the moment this repo is for proofs of concept. And it isgreat success to have now an accessilble dropdown menu. Thanks to all developers. We must discuss this question again when it comes to make the PR ready for Joomla-cms.

[2020-09-01 21:38] brianteeman commented on #53
Please dont get me wrong the code is great I just think its in the wrong folder

[2020-09-02 08:04] ghost opened #54 "Word "Search" shown above Search-Module"
### Steps to reproduce the issue
As title say:
![Screen Shot 2020-09-02 at 09 54 41](https://user-images.githubusercontent.com/70466955/91954903-bb851500-ed02-11ea-8228-8c3240699921.png)

### Expected result
Menu- and Search-Module vertically aligned.

### System information (as much as possible)
php: Linux lamp110.cloudaccess.net 3.10.0-962.3.2.lve1.5.24.7.el6h.x86_64 #1 SMP Mon Dec 17 12:02:35 E

[2020-09-02 08:15] ciar4n commented on #53
I dont see an issue with having overrides in the template. The template dictates design and as a part of that design is it perfectly reasonable to need to override the core view to something more opinionated like this metismenu. Core views should be a semantic base, once it is anything more it becomes a pain to develop against.

[2020-09-02 08:17] brianteeman commented on #53
To quote @bembelimen (although I think he was confused at the time)

[2020-09-02 08:21] ciar4n commented on #53
You will need to explain to me how this is true? As I see it, a template will only need to copy it if they want a menu based on metismenu.

[2020-09-02 08:24] brianteeman commented on #53
yes that is correct - i am thinking as a user and not a developer

I have my site built with cassiopeia and i have my lovely dropdown menu
I install another template or try to create my own and I need to copy the metis override from cassiopeia to my new template
It is not possible to copy a template override to another template within the UI

If the metis layout was a core layout then there would

[2020-09-02 08:26] brianteeman commented on #53
The way I see it there are disadvantages to having this layout part of the template and not part of core.
I do not see any advantages to having it part of the template and not part of the core.

Other than physically moving these files from the template to the core I dont see any issue with making this part of the core

[2020-09-02 08:30] bembelimen commented on #53
Hi @brianteeman
probably it's more my lacking language skill, in my head it sounds correct :-)

Currently we have something like that:
![grafik](https://user-images.githubusercontent.com/1229869/91957837-dc4f6980-ed06-11ea-995c-0d0f04cfc3ff.png)

So that means, it's clear, that it only works with Cassiopeia.

On the other hand, if we have it in core, we would have something like:

![grafik](https:

[2020-09-02 08:31] brianteeman commented on #53
How will it not work - thats where I am obviously missing something

[2020-09-02 08:50] bembelimen commented on #53
It _works_ but some styling could (and probably are) missing, if the template does not implement it.

[2020-09-02 08:52] brianteeman commented on #53
adding styling to a template is easy for a user
as I stated above copying an override to another template is not.

I guess I just fundamentally believe that core site/admin templates should never use an override and if they do then there is something very wrong

[2020-09-02 08:53] ciar4n commented on #53
It is not possible to copy a template override to another template within the UI

I think there needs to a separation of concerns here. How a menu is displayed should be decided by the template. Or at least that should be the default. I agree with @bembelimen in that metismenu in core poses a problem for 3rd party template, certainly if there is options with the UI specific to that menu.

[2020-09-02 08:58] drmenzelit commented on #51
**How to implement color switcher**

- Prepare scss/css files for global color definitions
    - summer.scss
        :root {
            --color-primary: #e0a800;
            --color-primary-dark: #d39e00;
            --color-whatever: #000;
        }
    - winter.css
        :root {
            --color-primary: #073f86;
            --color-primary-dark: #03254f;
            --color-whatever: #fff

[2020-09-02 09:08] richard67 commented on #54
@Formatio-hippocampi You have to switch off display of the search field label in the search module's settings:

![temp-1](https://user-images.githubusercontent.com/7413183/91962253-90072800-ed0c-11ea-923a-8dd4520131a0.png)

Please report back if that works for you.

[2020-09-02 09:13] brianteeman commented on #53
If you can not create a dropdown menu in core then thats a problem. My understanding was that work with metis was to achieve that

[2020-09-02 09:17] ciar4n commented on #53
I don't believe this to be true for the frontend view. Core views should be semantically correct and a good non-opinionated base to create overrides from. As mentioned template dictates the design and as a part of that design is it perfectly reasonable to need to override the core view to something more opinionated. At the end of the day, mine is one opinion among many. What is correct is probably

[2020-09-02 09:18] ghost commented on #54
Thanks, works. The Edit-Icon isn't shown in Frontend for "Search"-Module, other Modules show it. Have i overlooked another Setting?

[2020-09-02 09:18] ciar4n commented on #53
For me 'dropdowns' are opinionated design and not a concern of core. The template dictates design and therefore dictates that the top menu displays its child items in a dropdown. And why I think metis should be an override in the template, not in core.

[2020-09-02 09:19] brianteeman commented on #53
all I can say is think like a user and not a designer

[2020-09-02 09:20] ciar4n commented on #53
If designer/developers are properly considered, it is the users that will benefit in the long run

[2020-09-02 09:22] richard67 commented on #54
acess level?

[2020-09-02 09:27] ghost commented on #54
Move Search-Module to Position "sidebar-right" get Edit-Icon without change of Access-Level.

[2020-09-02 09:30] richard67 commented on #54
No idea if that is desired behavior or not, but it is definitely not related to this repository here where we handle development on the frontend template, it is a new issue for the CMS repository.

And the issue here with the search field title is solved.

So I'm closing this one. Feel fre to open a new issue iun the CMS repository for the other issue with module edit in the header area.

[2020-09-02 09:30] #54 closed, assigned to nobody

[2020-09-02 17:26] richard67 commented on #51
Promary-dark? Not primary-dark?

[2020-09-04 05:44] ghost opened #56 "RTL: Tag not right-aligned"
### Steps to reproduce the issue
Compare Tag-Align:
RTL | LTR
---- | ----
![1](https://user-images.githubusercontent.com/70466955/92203800-57895a80-ee82-11ea-8262-034024065d33.png) | ![Screen Shot 2020-09-04 at 07 24 50](https://user-images.githubusercontent.com/70466955/92203416-67ed0580-ee81-11ea-8436-c5cc194dbc5a.png)

### Expected result
RTL-Tag right-aligned

### Actual result
RTL-Tag not rig

[2020-09-04 06:03] richard67 commented on #56
This here is the repository for improvement of the Cassiopeia template, not for issues with J4 development in general.

@chmst @drmenzelit Shall this issue really be handled here, or shouldn't it be in the CMS repository?

[2020-09-04 09:04] chmst commented on #56
It seems to be a issue in the layout, so related to the cms. But we tag it als for the frontend template. Maybe @infograf768 can have a look here.

[2020-09-04 13:33] chmst commented on #40
#30441 is merged. So w can close this.

[2020-09-04 13:33] #40 closed, assigned to nobody

[2020-09-04 13:56] chmst commented on #20
All PRs merged, so we can close this issue

[2020-09-04 13:56] #20 closed, assigned to richard67

[2020-09-04 13:57] chmst commented on #9
As we have a dropdown menu now, This issue can be closed

[2020-09-04 13:57] #9 closed, assigned to nobody

[2020-09-04 14:00] chmst commented on #56
Related to #52. Thank you for testing RTL, @Formatio-hippocampi!

[2020-09-04 14:05] chmst commented on #10
Understood. I'll close this issue.

[2020-09-04 14:05] #10 closed, assigned to hans2103, chmst

[2020-09-04 14:29] brianteeman commented on #10
Thanks - I assume the JAT have been informed that their request is closed?

[2020-09-04 15:10] #56 closed, assigned to nobody

[2020-09-04 16:54] chmst commented on #10
@hans2103 and me will discuss this in JAT.

[2020-09-04 16:55] brianteeman commented on #10
thanks

[2020-09-06 15:49] chmst commented on #1
local hosted fonts - why local hosted (GDPR) - what can the user do to expand or change his fonts.  https://github.com/joomla/cassiopeia/pull/61

[2020-09-08 12:19] chmst commented on #34
This is in scope of the general design process.

[2020-09-08 12:19] #34 closed, assigned to nobody

[2020-09-08 12:20] chmst commented on #35
This i in scope of the general design process.

[2020-09-08 12:20] #35 closed, assigned to nobody

[2020-09-10 17:51] chmst opened #66 "[style] Dark mode in accessibility plugin causes white font on white background"
### Steps to reproduce the issue
Activate the accessibility plugin. Go to frontend and choose "invert colour" in the plugin.

### Expected result
Text is white on black.

### Actual result
Text is white on white

![grafik](https://user-images.githubusercontent.com/1035262/92775721-ec1e1c00-f39e-11ea-9891-a7b36e91ba98.png)

### System information (as much as possible)
win10, firefox

### Additional

[2020-09-10 17:55] richard67 commented on #66
@chmst Is this with current 4.0-dev? Or with the development branch here? Or with the development-design2 branch of PR #65 ?

[2020-09-10 18:28] chmst commented on #66
It is current v4 - not sure if it is in scope of cassiopeia, but the issue is only frontend. The plugin is in discussion and imho should be removed. But if it remains in the system, it is an issue.

[2020-09-11 09:43] chmst opened #67 "[style] Input group search"
### Steps to reproduce the issue
Input group of the search module - rounded corner  vs. input group

### Expected result
like as i.e. in the login

### Actual result
<img width="507" alt="input-search" src="https://user-images.githubusercontent.com/1035262/92905326-dacb2300-f423-11ea-8683-7d4f843bceee.PNG">

[2020-09-11 09:48] chmst opened #68 "[structure]"
### Steps to reproduce the issue
Click Autor Login in the menu, or the About.

### Expected result
The whole width of content is used

### Actual result

<img width="892" alt="not-adjusted" src="https://user-images.githubusercontent.com/1035262/92906155-8c6a5400-f424-11ea-941b-450239a7e8f0.PNG">

[2020-09-11 10:39] drmenzelit commented on #47
Solved in commit #65 8cddf3dbf3a49530a9fdfca2b956a7431e1477c0
I put only another color for the active menu item. I don't know if that is enough. If someone has another idea, feel free.
The version with the "underline" doesn't look good now because of the padding of the li element.

[2020-09-11 10:41] drmenzelit commented on #68
![grafik](https://user-images.githubusercontent.com/9153168/92914647-1833ae80-f42c-11ea-8cd2-9f121c88055d.png)

That is how it looks on my testing environment

[2020-09-11 10:46] richard67 commented on #68
@chmst It seems you refer to the development branch, while @drmenzelit work on the design on branch "development-design2" with PR #65 . Could you test design-related stuff with that branch and report in that PR, and optinally make PRs agains that branch, PRs for the PR, so to say?

[2020-09-11 10:51] richard67 commented on #47
Different colors are working with that commit, but the contrast is bad because the wrong colors are used. This can be fixed. But I am not sure if color only is sufficient.

[2020-09-11 11:06] drmenzelit commented on #67
Solved in commit #65 09851fc5a1c48b452f489d59a4a7926168a4847f
Someone has to check the RTL version.

[2020-09-11 11:08] drmenzelit commented on #47
We have still several problems with colors and contrast...
And we need to check font-size and font-weight too, that also have an impact in contrast

[2020-09-11 11:10] drmenzelit commented on #24
Parameter has been added. I'm closing the issue.

[2020-09-11 11:10] #24 closed, assigned to drmenzelit

[2020-09-11 11:10] drmenzelit commented on #66
I have no idea how the plugin works...

[2020-09-11 11:13] brianteeman commented on #47
Golden rule. Do not rely on a single visual indicator

[2020-09-11 18:29] #68 closed, assigned to nobody

[2020-09-11 18:29] #67 closed, assigned to nobody

[2020-09-12 13:30] chmst opened #70 "Change the template description?"
### Problem identified
The templat description is:
Continuing the space theme (Solarflare from 1.0, Milkyway from 1.5 and Protostar from 3.0), Cassiopeia is the Joomla 4 site template **based on Bootstrap 4.**

### Open questions
Change the **based on Bootstrap 4.**?

[2020-09-13 12:56] richard67 opened #73 "Clean up mix of $white and color("white") in Cassiopeia's scss files"
### Steps to reproduce the issue

See https://github.com/joomla/cassiopeia/pull/71#discussion_r487447487 .

### Expected result

Either `$white` or `color("white")` is used, but not both, I'd prefer `$white`.

### Actual result

A mix of  `$white` and `color("white")` is used throughout Cassiopeia's scss files.

### System information (as much as possible)

Current "development" branch of this rep

[2020-09-13 15:48] hans2103 commented on #73
changed `var(--white)` and `color("white")` by `$white` with commit https://github.com/joomla/cassiopeia/commits/development-cassiopeia-design

[2020-09-13 15:49] richard67 commented on #73
Solution confirmed.

[2020-09-13 15:49] #73 closed, assigned to nobody

[2020-09-13 15:49] richard67 commented on #73
Will be fixed with PR #71 .

[2020-09-13 16:56] richard67 commented on #47
Will be solved with PR #71 , I've tested that with success.

[2020-09-13 16:56] #47 closed, assigned to nobody

[2020-09-13 16:57] richard67 commented on #32
Has been solved with PR #61 .

[2020-09-13 16:57] #32 closed, assigned to nobody

[2020-09-13 17:00] richard67 commented on #14
Has been solved with PR #18 and then later been improved with diverse PR's, final one was #61 ^.

[2020-09-13 17:00] #14 closed, assigned to drmenzelit

[2020-09-13 18:54] chmst opened #74 "Metismenu toggler button is too thin"
### What needs to be fixed
Te metis menu toggler button for opening/closing the submenu is rather thin. It is not really visible when a menuItem cintains a link and a button.

<img width="283" alt="metismenu-toggler" src="https://user-images.githubusercontent.com/1035262/93026050-59ca8200-f603-11ea-8908-c663d03ab021.PNG">

### Why this should be fixed
Better UX

### How would you fix it
Make the b

[2020-09-14 09:45] chmst commented on #70
ansered with "it is based on BS4".

[2020-09-14 09:45] #70 closed, assigned to nobody

[2020-09-14 14:53] chmst opened #77 "check module chromes - see issue #30547"
### Steps to reproduce the issue
https://issues.joomla.org/tracker/joomla-cms/30547

[2020-09-15 20:10] chmst opened #80 "Fluid layout needs design with spacing and margin"
### What needs to be fixed
Check the new cassiopeia in fluid mode

### Why this should be fixed
The content block seems to have not enough paddung/margin. Maybe it is because sample texts are not decorative?

![grafik](https://user-images.githubusercontent.com/1035262/93259426-1fe2b280-f7a0-11ea-8a55-a3da2ce87e66.png)

[2020-09-16 10:43] richard67 commented on #74
I have a solution using Fontawesome, but I am not sure if we should make our metismenu depend on Fontawesome.

[2020-09-16 10:44] richard67 commented on #74
3rd party template devs might want to use our metismenu but not Fontawesome.

[2020-09-16 11:03] brianteeman commented on #74
As I said before they currently cannot use it

[2020-09-16 11:07] richard67 commented on #74
They can if they copy it, and then it is worth a question if it shall depend on Fontawesome or not.

[2020-09-16 11:35] richard67 commented on #74
Please test and comment PR #82 . If it's ok we can close this issue, but as long as I am not sure if that PR is the best solution I'd like to keep this issue open.

[2020-09-16 11:36] chmst opened #83 "single article needs design respecting fulltext imag and intro image, template override for cassiopeia"
### Steps to reproduce the issue
make articles with intro image, full image

https://www.msn.com/de-de/nachrichten/politik/nordrhein-westfalen-rechtsextreme-chat-gruppen-bei-polizei-in-nrw-aufgedeckt/ar-BB195F5V?ocid=msedgdhp

### Expected result
Good design in template overrides

### Additional comments

[2020-09-16 12:53] richard67 commented on #80
Solved by PR #84 .

[2020-09-16 12:53] #80 closed, assigned to helvecio

[2020-09-16 13:27] richard67 commented on #74
Solved by PR #85 .

[2020-09-16 13:27] #74 closed, assigned to nobody

[2020-09-17 09:08] chmst commented on #52
Please test PR #85

[2020-09-17 09:11] ghost commented on #52
test only using patchtester.

[2020-09-17 09:44] richard67 commented on #52
I can confirm that this issue has been solved with the meanwhile merged PR #85 .

@Formatio-hippocampi If you have beside your installation with the patchtester an additional folder on your webserver which you can use for a new Joomla installation, you can find here a dummy pull request (PR) with a link to an installation package in its description: https://github.com/joomla/cassiopeia/pull/48 . T

[2020-09-17 09:45] richard67 commented on #52
Closing as meanwhile solved in the development branch with PR #85 . Thanks for reporting.

[2020-09-17 09:45] #52 closed, assigned to nobody

[2020-09-17 09:45] drmenzelit opened #86 "Wrong media query for metismenu"
### Steps to reproduce the issue
Check the navbar at different display sizes. The hamburger icon appears at 991px width, but the menu is still horizontal

### Expected result
The menu changes to vertical, when hamburger menu appears.

### Actual result
The menu is still horizontal.

[2020-09-17 09:49] richard67 commented on #86
~~That's very similar to what I had discovered here: https://github.com/joomla/joomla-cms/pull/30131 .~~

~~The problem is that we have 2 such buttons, the hamburger and the gears, which have same class and so appear at the same time when reducing the display width from large to smaller, but the stuff shown or hidden by these buttons disappears at different points of time.~~

~~But because those 2

[2020-09-17 09:58] richard67 commented on #83
Hmm I don't get the issue. Could you show with some screenshot what the problem is?

[2020-09-17 10:00] chmst opened #87 "Module chrome without card header - edit icon overlaps dropdown buttons and texts"
### What needs to be fixed
Impossible to open a submenu in this case:

![grafik](https://user-images.githubusercontent.com/1035262/93456009-6853ba80-f8dd-11ea-8dc1-41623cb077fb.png)

If a module is displayed without title AND the user may edit, then the area for the edit button must have mor height

[2020-09-17 10:02] richard67 commented on #87
Oops.

[2020-09-17 10:07] chmst commented on #87
I would prefer that the edit symbol is always visible , not only on hover.

[2020-09-17 10:08] richard67 commented on #87
Ping @infograf768 : Could you check @chmst 's previous comment?

[2020-09-17 10:10] infograf768 commented on #87
I am now preparing an eclipse project of this Cassiopea stuff.
I may look at things tomorrow.

[2020-09-17 10:19] richard67 opened #88 "Change header and footer background colour gradient direction for RTL"
### Steps to reproduce the issue

Having an installation with the current development branch of this repository or the corresponding installation package (see PR #48 for details), change `<rtl>0</rtl>` to `<rtl>1</rtl>` in file `language/en-GB/langmetadata.xml` and reload the front page.

### Expected result

Background gradient of header and footer changes direction, too.

### Actual result

- LT

[2020-09-17 10:38] drmenzelit commented on #86
We need to change navbar-expand-lg to navbar-expand-md in the index.php or change the media-breakpoint-up(md) to media-breakpoint-up(lg) for the menu stuff in _header.scss

[2020-09-17 11:19] richard67 commented on #86
And which of these 2 ways is the better way?

[2020-09-17 11:54] drmenzelit commented on #86
I'm not sure...

[2020-09-17 11:57] richard67 commented on #86
Who could we ask? Maybe @ciar4n ?

[2020-09-17 12:39] richard67 commented on #88
Solved with PR #90 .

[2020-09-17 12:39] #88 closed, assigned to nobody

[2020-09-17 15:46] infograf768 commented on #87
I don't remember if we had a discussion on this when it was implemented.
I sort of think that it should behave like the article or contact and be present when user can edit.
But, in some cases, it would break the display so much that I have mixed feelings.

the best solution may be to display the tooltip up, at the top limit of the module. Not sure we can. And, in any case not sure either our fron

[2020-09-17 15:55] infograf768 commented on #87
For now the tooltip placement is "auto"
If we modify to "top", we will get (mobile screencapture)
<img width="588" alt="Screen Shot 2020-09-17 at 17 50 27" src="https://user-images.githubusercontent.com/869724/93495450-6a823d00-f90e-11ea-8b52-1eb29935f942.png">
It's automatically contained in the window btw.

https://github.com/joomla/cassiopeia/blob/47b44d39db1ebf1af2c31e4cddc861f8fdca54c3/build/

[2020-09-17 15:58] richard67 commented on #87
As far as I understand, the problem is not the tool tip but the icon. It overlaps the metismenu toggle when using a metismenu in the sidebar, e.g. by moding the "Main Menu Blog" module to there.

[2020-09-17 16:03] infograf768 commented on #87
That's a totally other issue.

[2020-09-18 07:04] infograf768 commented on #87
I nevertheless suggest to change tip placement as the issue of the tip covering up the first link in other types of modules is present. (In 3.x it is set to top by default)
Also, we have a huge margin-left for the `<ul>` in the modules in general we should get rid of and I could not find where that comes from.

<img width="478" alt="Screen Shot 2020-09-18 at 08 02 01" src="https://user-images.gith

[2020-09-18 08:11] chmst commented on #87
The edit buttons are added via frontendediting.js. This makes changes difficult. And in my opinion it is not userfreindly that the edit button is visible only with hover.

A good an simple and a11y solution could be (in core as this is rendering modules): If editing a module is possible: Add a new line on top of the module, containig the edit icon + edit label as in articles and contacts.

If this

[2020-09-18 08:28] chmst opened #91 "metismenu submenus vertical and horizontal design"
### Problem identified
Submenus in the metismenu could have better distance or contrast against the first level of the menu. As a proposal I have added two fake metis menu screens how a solution could look like.

### Proposed solution

<img width="273" alt="metismenu-vertical" src="https://user-images.githubusercontent.com/1035262/93574828-31db7580-f999-11ea-97c8-d8e8a324f76f.PNG">

<img width="37

[2020-09-18 10:02] chmst commented on #87
![grafik](https://user-images.githubusercontent.com/1035262/93585393-052e5a80-f9a7-11ea-9188-fc9ee9f8bfd0.png)

Same issue here on small screen: It is not possible to open the menu - the edit button is nearyl invisible on the dark background.

[2020-09-18 10:06] infograf768 commented on #87
I am afraid it is the only way to go. But it should be done only when frontendediting is set.
I saw no way for now to render an edit icon without the js. And no way to integrate menu item edit when using metismenu.

[2020-09-18 10:31] chmst opened #92 "form - labels have wrong margin"
### Steps to reproduce the issue
Login to the frontend and edit your prfile

The labels seem to be part of the previous input field.

### Expected result
Labels are near to their input field

### Actual result
Labels seem to belong to the field above

![grafik](https://user-images.githubusercontent.com/1035262/93587364-10cf5080-f9aa-11ea-9510-767ab47e8a30.png)

### System information (as much as p

[2020-09-18 10:48] richard67 commented on #91
@chmst Your second screnshot shows a change in the position of the submenu dropdown, right? If so, that's missing in the issue description.

[2020-09-19 07:16] chmst commented on #92
https://issues.joomla.org/tracker/joomla-cms/29138

[2020-09-19 08:23] infograf768 commented on #87
@chmst
Only way I found is to totally get rid of the js, modifying the layout and also the chromes.

Proof of concept (did not correct all css)

<img width="404" alt="Screen Shot 2020-09-19 at 10 21 43" src="https://user-images.githubusercontent.com/869724/93662657-02dd0680-fa62-11ea-897d-24de881b3519.png">

[2020-09-19 08:49] softforge opened #93 "Images not scaling for iphone (below about 410px) properly"
### Steps to reproduce the issue
Install the blog data. Use dev tools and inspect the home page as if an iPhone

### Expected result
Images scale as they have been getting smaller and smaller to fit the panels

### Actual result
Image stops scaling and breaks out of the panel
See image
![images_not_scaling](https://user-images.githubusercontent.com/1078933/93663136-6284e300-fa5d-11ea-8169-b3483c78

[2020-09-19 20:19] chmst opened #94 "Edit icon for menu items"
### Steps to reproduce the issue
If in clobal configuration editing for modules and menus is enabled
then the menu has an edit icon and menuitems in default menus get an edit symbol.
It is added via js, appears on hover and is worst UX

![grafik](https://user-images.githubusercontent.com/1035262/93688388-c3e09c80-fac5-11ea-87ce-4bd7af890f99.png)

### Expected result
In the metismenu appears an ico

[2020-09-20 08:32] chmst commented on #87
If we add a div  (100% width) bove the module content, it looks like this:
![grafik](https://user-images.githubusercontent.com/1035262/93707168-8e22ce80-fb2c-11ea-9791-328c5633ae7c.png)

[2020-09-20 19:49] chmst opened #95 "Sample data: Update Texts in "Working on your site""
### Steps to reproduce the issue
Install Sample data, read the text "Working on your site". The Text is not up to date, it is based on former joomla versions.

Help of a native speaker would be appreciated.

### Actual result

One of the first things you will probably want to do is change the site title and tag line and to add a logo (what is a tag line?)

to totally change the look of your site y

[2020-09-20 20:49] chmst opened #97 "All menuitems in metismenu submenu are active if one is clicked"
### Steps to reproduce the issue
You must have a metismenu with a submenu. (Install sample data)
Open a submenu and click on one of the items. The item is opened. Then open again the submenu

### Expected result
The active item is active

### Actual result
All items in the submenu are active

![grafik](https://user-images.githubusercontent.com/1035262/93721936-76326580-fb93-11ea-835e-8b6a18076d77.

[2020-09-20 20:53] chmst opened #98 "Accessibility: Make Links in text visible"
### Steps to reproduce the issue
Write an article which contains a link.

### Expected result
The link is visible (underlined)

### Actual result

Quest: find the link in this text!

![grafik](https://user-images.githubusercontent.com/1035262/93722018-14bec680-fb94-11ea-9eef-f906d9a7fff4.png)

### System information (as much as possible)

### Additional comments

[2020-09-21 13:52] drmenzelit commented on #92
Resolved with last commit... hopefully ;-)

[2020-09-21 14:48] chmst commented on #51
Is this done? Can it be closed?

[2020-09-22 10:24] drmenzelit opened #100 "Error page doesn't look good"
Menu is hamburger only
Logo doesn't appear

![image](https://user-images.githubusercontent.com/9153168/93871164-800cb380-fcce-11ea-9bb5-8a1d6ace3752.png)

[2020-09-22 11:19] chmst commented on #100
https://issues.joomla.org/tracker/joomla-cms/30729

[2020-09-22 11:49] ghost commented on #100
similaer https://github.com/joomla/joomla-cms/issues/30023

[2020-09-22 12:54] richard67 commented on #6
Core templates don't have own packages because they come with the core, and where else shall they be used? Neither Protostar not Cassiopeia up to now have a package.

[2020-09-22 12:54] #6 closed

[2020-09-22 14:02] chmst commented on #7
@helvecio what can we do to resolve this issue?

[2020-09-22 14:24] drmenzelit commented on #4
No new design, no new code needed. Only improvements on existent Cassiopeia.

[2020-09-22 14:24] #4 closed

[2020-09-22 14:27] drmenzelit commented on #5
https://helvecio.github.io/
In case we want to use it

[2020-09-22 14:27] #5 closed

[2020-09-22 14:29] drmenzelit commented on #11
Done with PR #75

[2020-09-22 14:29] #11 closed, assigned to nobody

[2020-09-22 14:32] drmenzelit commented on #51
Done with PR #58

[2020-09-22 14:32] #51 closed, assigned to drmenzelit

[2020-09-22 14:49] drmenzelit commented on #53
That seems to be kind of a philosophical discussion. There are pros and cons for both sides.
We will close the issue now, because metis menu with dropdowns is working in Cassiopeia and that was the goal.
We can reopen it if necessary.

[2020-09-22 14:49] #53 closed, assigned to nobody

[2020-09-22 14:50] drmenzelit commented on #98
PR #99

[2020-09-22 14:50] #98 closed, assigned to nobody

[2020-09-22 14:51] drmenzelit commented on #97
PR #99

[2020-09-22 14:51] #97 closed, assigned to nobody

[2020-09-22 14:52] drmenzelit commented on #2
No new design

[2020-09-22 14:52] #2 closed

[2020-09-22 20:42] hans2103 commented on #94
It is horrible indeed... that's why I always disable this option in GLobal Config
Click on it and the component output of the page will be changed to the edit the module settings.

Do you want a PR that disables this core functionality that hopefully only 1% of the Joomla users uses?
Or do you want better styling of the button that appears over the module when you hover?

[2020-09-23 13:31] chmst opened #102 "Check cassiopeia for SEO issues"
### Problem identified
We need a check for SEO issues in cassiopeia.
@coolcat-creations can you do that? Or can you ask for help as you are active in SEO?

[2020-09-23 18:33] richard67 opened #104 "[RFC] Blog 2 column layout breaks column within the article"
### The question

Since the font size had been dramatically increased it became more visible than before:

The 2 column layout for the "Blog" page breaks from column 1 to column 2 in the middle of an article:

![2020-09-23_1](https://user-images.githubusercontent.com/7413183/94054385-e0d5e200-fddb-11ea-8a5d-a8592fff2681.png)

![2020-09-23_2](https://user-images.githubusercontent.com/7413183/940543

[2020-09-23 19:56] chmst commented on #104
It is the "mansonry" layout. This tries to fill the columns so that have equal lenght.
But you are right that this class does not fit here. I will change the class in sample data.

[2020-09-23 22:00] richard67 commented on #104
Solved with PR #96 .

[2020-09-23 22:00] #104 closed, assigned to nobody

[2020-09-23 22:04] chmst commented on #93
This is due to a wrong layout. The module must be "noCard" Layout. This is fixed for the sample data in PR #96

@drmenzelit Maybe the breakpoint can be changed?  Or the gap
![grafik](https://user-images.githubusercontent.com/1035262/94074332-5a2ffd80-fdf9-11ea-83e4-dd3baf136c33.png)

[2020-09-24 06:14] drmenzelit commented on #93
I can't reproduce the issue... and with my PR should look ok.. but I will check again

[2020-09-24 08:19] drmenzelit commented on #93
![image](https://user-images.githubusercontent.com/9153168/94119402-2aabe000-fe4f-11ea-8ddf-aec047cb47ff.png)

That is how it looks at 752px width on my installation... with the noCard layout the news should look ok.

For smaller displays I need to make a PR against CMS to change the min-width of the grid (at the moment 330px).

[2020-09-24 09:57] chmst commented on #92
resolved with pr #99

[2020-09-24 09:57] #92 closed, assigned to nobody

[2020-09-24 10:03] chmst commented on #93
Looks good - i have tested successfully with your PR and with new sample data (module chrome must be noCard)

[2020-09-24 11:42] richard67 opened #105 "Reminder: Run code style checks locally before going live with a pull request for the CMS"
We don't have those fancy checkin tools in our repo here like the CMS has for running code style, unit and system tests and so on.

We should run as many code style checks as possible locally and fix all issues found by these tests before we make the PR for the CMS so that we don't have many code style errors in that CMS at the beginning, because that would make it look unprofessional.

[2020-09-24 12:18] drmenzelit commented on #105
I use Visual Studio Code for the Cassiopeia stuff and I have stylelint with the style rules from Joomla. It works very well for scss/css.
For the PHP things I'm not sure...

[2020-09-24 12:43] richard67 commented on #105
Then you do the scss/css stuff, and I care for the PHP. No idea about javascript yet.

[2020-09-24 17:59] Quy opened #106 "Buttons vertically high"
### Steps to reproduce the issue
Go to Compact Tagged page

### Actual result
![buttons](https://user-images.githubusercontent.com/368084/94181333-30f08b00-fe54-11ea-8038-b276d8d36289.png)

[2020-09-24 18:06] Quy opened #107 "Pagination - Remove borders?"
### Steps to reproduce the issue
Is it intentional to have borders on disabled buttons?

### Actual result
![pagination](https://user-images.githubusercontent.com/368084/94182463-e6700e00-fe55-11ea-905d-ef5d23a956ad.png)

[2020-09-24 18:12] Quy opened #108 "Add spacing"
### Actual result
![99](https://user-images.githubusercontent.com/368084/94183087-ba08c180-fe56-11ea-857f-cad907f7c669.png)

[2020-09-24 18:15] brianteeman opened #109 "Ready for testing"
Is it helpful for others to test at this time or is it preferred to wait?

[2020-09-24 18:29] chmst commented on #109
Yes, please test :)
Of course it is still work in progress but there are modules and different layouts which are not in sample data.

[2020-09-24 18:33] brianteeman commented on #109
I ask because I wouldnt want to bombard you with questions if those parts are " to be done"

[2020-09-24 19:27] richard67 commented on #109
All work we have done up to now can be found in the development branch. There is also a dummy PR #48 for testing with a link to an installation package for testers without git, composer and npm.

[2020-09-24 19:28] richard67 commented on #109
I've just updated everything by the latest changes in the 4.0-dev branch of the CMS and made a new installation package.

[2020-09-24 19:35] richard67 commented on #108
I've just updated the development branch here with latest changes from 4.0-dev. Possibly this has solved the issue here. Someone should check that.

[2020-09-24 19:38] hans2103 commented on #108
@Quy after running `npm ci` on this repo and installing "Sample Data Blog" the Cassiopeia looks like the following screenshots on my screen:

<img width="1523" alt="Schermafbeelding 2020-09-24 om 21 35 26" src="https://user-images.githubusercontent.com/639822/94191571-fa475e80-fead-11ea-80a8-938a4e89e703.png">
<img width="1523" alt="Schermafbeelding 2020-09-24 om 21 35 33" src="https://user-images

[2020-09-24 20:12] hans2103 opened #111 "Wrong spacing on filters"
Joomla 4 with "Testing Sample Data"
url => index.php/recipes

<img width="534" alt="Schermafbeelding 2020-09-24 om 22 11 38" src="https://user-images.githubusercontent.com/639822/94195159-f23ded80-feb2-11ea-9132-42110de3aed6.png">

[2020-09-24 20:15] brianteeman opened #113 "WCAG 1.4.3: Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds (span[itemprop="name"])"
#### Issue
`Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds` ([color-contrast](https://dequeuniversity.com/rules/axe/4.0/color-contrast?application=msftAI))
#### Target application
[Home](http://localhost/cass/)
#### Element path
span[itemprop="name"]
#### Snippet
`<span itemprop="name">Home</span>`
#### How to fix
    Fix any of the followin

[2020-09-24 20:15] hans2103 commented on #107
Took me a while to find one.
/index.php/article-category-list

[2020-09-24 20:18] brianteeman opened #114 "WCAG 1.4.3: Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds (.form-control-feedback)"
#### Issue
`Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds` ([color-contrast](https://dequeuniversity.com/rules/axe/4.0/color-contrast?application=msftAI))

The combination  foreground color: #d8544f, background color: #ffffff

![image](https://user-images.githubusercontent.com/1296369/94195852-75f3dc00-feab-11ea-8390-2fbfaa93e117.png)

## E

[2020-09-24 20:20] hans2103 commented on #107
it seems to be intentional on disabled items. But I agree it is ugly.
Active links have white border.

[2020-09-24 20:21] richard67 commented on #107
I'd prefer them to all have this light grey border, enabled and disabled.

[2020-09-24 20:22] brianteeman opened #115 "Padding Top system message container"
### Steps to reproduce the issue
Clean install of development
Click on login without any credentials

### Expected result
![image](https://user-images.githubusercontent.com/1296369/94196208-f0bcf700-feab-11ea-9a11-ba86476ea18c.png)

### Actual result
![image](https://user-images.githubusercontent.com/1296369/94196252-ffa3a980-feab-11ea-965f-2dfa9fc63b0e.png)

### System information (as much as pos

[2020-09-24 20:24] hans2103 commented on #107
Created PR https://github.com/joomla/cassiopeia/pull/116

[2020-09-24 20:26] hans2103 commented on #105
Using PHPStorm with Joomla Codestyle activated

[2020-09-24 20:26] brianteeman opened #117 "Mobile menu"
### Steps to reproduce the issue
Clean installation of development branch

### Expected result
Mobile view has a mobile menu

### Actual result
menu module displayed below content

[2020-09-24 20:35] #108 closed, assigned to hans2103

[2020-09-24 20:38] brianteeman opened #118 "custom module in sample data"
### Steps to reproduce the issue
current development branch
install sample data

### Expected result
Clean display on desktop and mobile

### Actual result
on some mobile devices the height of the module obscures some of the body

![image](https://user-images.githubusercontent.com/1296369/94197844-4397ae00-feae-11ea-89d1-cbb6b93a0259.png)

### System information (as much as possible)

### Addition

[2020-09-24 20:39] chmst commented on #111
see https://issues.joomla.org/tracker/joomla-cms/29504

[2020-09-24 20:42] brianteeman opened #119 "Column width mobile"
### Steps to reproduce the issue
Install current development branch with sample data

### Expected result
Columns are positioned with equal left/right margins

### Actual result
Depending on the mobile device there is either no right margin or there is a horizontal scroll

![image](https://user-images.githubusercontent.com/1296369/94198135-b1dc7080-feae-11ea-879c-a8cbfdd86408.png)

![image](https:

[2020-09-24 20:46] brianteeman opened #120 "Module title size"
### Steps to reproduce the issue
install current development branch with sample data

### Expected result
module titles are visually and semantically the same

### Actual result
A mix of h3 and h4 titles
![image](https://user-images.githubusercontent.com/1296369/94198514-4a72f080-feaf-11ea-92c7-ccf396ef529a.png)

### Additional comment
and preferably h3 to prevent a skipped heading level accessibi

[2020-09-24 20:54] brianteeman opened #121 "Articles with Linked titles and linked images"
### Steps to reproduce the issue
install current development branch with sample data

### Expected result
Good accessibility

### Actual result
Because the intro image is a link and the title is an identical link we have an accessibility problem

**What It Means**
Adjacent links go to the same URL.
**Why It Matters**
When adjacent links go to the same location (such as a linked product image and a

[2020-09-24 20:56] brianteeman opened #122 "Ambiguous Link names"
### Steps to reproduce the issue
Install current development branch and sample data

### Expected result
Good acccessibility eg all links are unique and correctly named

### Actual result
The three modules have identical meaningless links. A screen reader will announce this as
[code]

### System information (as much as possible)

### Additional comments

[2020-09-24 20:57] brianteeman opened #123 "Ambiguous Link names on images"
### Steps to reproduce the issue
Install current development branch and sample data

### Expected result
Accessible content with unique and named links

### Actual result
All of the intro images are unlabelled links. They are just announced by a screenreader as `link` without any indication of what they are a link to

### System information (as much as possible)

### Additional comments

[2020-09-24 21:01] brianteeman opened #124 "Missing first level heading"
### Steps to reproduce the issue
Install current development branch and sample data
go to the About page

### Expected result
Good semantic markup and no accessibility errors

### Actual result
No H1 on the page

.
**Why It Matters**
Headings facilitate page navigation for users of many assistive technologies. They also provide semantic and visual meaning and structure to the document. A first lev

[2020-09-24 21:05] brianteeman opened #125 "Clickable area on dropdown menu"
### Steps to reproduce the issue
Install current development branch and sample data

### Expected result
When you hover on a link and it is visually indicated as a link (in this case by a line) then the link is clickable

### Actual result
Only the icon is clickable

![menu](https://user-images.githubusercontent.com/1296369/94200242-03d2c580-feb2-11ea-9468-7b655c3f925e.gif)

and on mobile its wors

[2020-09-24 21:08] richard67 commented on #125
The "Sample Layouts" should not be a link because it is only a heading. The "Articles" in the dropdown, which is also a parent, is a "real" (i.e. not heading or separator) menu item with a link. The mouse pointer shows if it's a link or not.

Not trying to justify, only trying to explan what we have.

[2020-09-24 21:08] richard67 commented on #125
So the underline might be wrong for the "Sample Layouts".

[2020-09-24 21:10] brianteeman opened #126 "Mobile menu missing active indicator"
### Steps to reproduce the issue
Install current development branch with sample data

### Expected result
Visual indicator for active menu item on desktop and mobile

### Actual result
No indicator on mobile. Possibly even more important on mobile as a user wont see the content and the menu at the same time so they need to know what is the current active menu item and dont select it again

[2020-09-24 21:12] brianteeman commented on #125
Thats even worse - the heading should be clickable if its the way you expand the menu

[2020-09-24 21:13] richard67 commented on #125
The menu should be only expanded with the triangle.

[2020-09-24 21:13] brianteeman commented on #125
Then that is WRONG, VERY WRONG

[2020-09-24 21:14] richard67 commented on #125
Well, then it has to be corrected.

[2020-09-24 21:17] brianteeman commented on #125
See the top menu bar at the metismenu example site
https://mm.onokumus.com/

[2020-09-24 21:19] #109 closed, assigned to nobody

[2020-09-24 21:20] richard67 commented on #125
@brianteeman Yes, that's for a heading. For a menu item which is parent of a dropdown and has a link, like e.g. the "Articles" in the "Sample Layouts" (something which we can't find in metimenu examples), is it ok like we do it there, the "Articles" is the link, and the triangle opens the dropdown? Or is there something wrong? Or should we not do that at all, have dropdown parents with an own link

[2020-09-24 21:23] richard67 commented on #100
After #101 has been merged, is there still something to be done for this issue?

[2020-09-24 21:23] brianteeman opened #127 "Author login"
### Steps to reproduce the issue
Install current development branch and sample data

### Expected result
Sample data that follows best practices - especially duplicate links

### Actual result
http://localhost/cass/index.php/author-login-1
http://localhost/cass/index.php/author-login

At least one of those should be an alias to the other. That will give just a single url and showcase another featu

[2020-09-24 21:25] richard67 commented on #127
Agree. @chmst Would you like to fix that?

[2020-09-24 21:38] brianteeman commented on #125
No it is not ok. If nothing else it is unexpected behaviour. As I am not aware of other sites that do this.

From an accessibility point of view it also an even bigger fail.

When a screenreader comes across the menu it will say in sequence

Link - blog
link - about
link - author login
toggle dropdown - button - collapsed

So if all the menus were dropdowns it would be
toggle dropdown - button - c

[2020-09-24 21:42] brianteeman opened #128 "Prev Next cosmetic"
### Steps to reproduce the issue
Install current development branch and sample data

This could be a matter of taste but visually it looks like the navigation is indented for no reason and breaks the flow of the page

When you hover on the link it is clear why the indent was present. Perhaps the non-hover state should also have a background

`
![2020-09-24_22-39-14](https://user-images.githubuserc

[2020-09-24 21:47] brianteeman opened #129 "Roboto Fonts"
1. Is it really necessary to load both the regular and the bold versions of the font when loading the local version. We dont do that when we load the google version.

2. The local version is massively bigger
Font size from google 15.8kb
Font size from local 130kb (65 +65)

[2020-09-24 22:11] richard67 commented on #129
The size of the local font is bigger because it contains more character sets than Latin, while those loaded from Google Fonts are separate files for character sets (in the css: Unicode ranges).

[2020-09-24 22:20] brianteeman commented on #129
and the reason for loading regular and bold ?

[2020-09-24 22:24] richard67 commented on #129
You mean in the css file `media/vendor/roboto-fontface/scss/roboto/roboto-fontface.css`? That's a vendor file, not maintained by us.

[2020-09-24 22:40] brianteeman commented on #129
when loading from google
![image](https://user-images.githubusercontent.com/1296369/94207262-2a4b2d80-febf-11ea-9638-440d48085dd3.png)

when loading local
![image](https://user-images.githubusercontent.com/1296369/94207153-e8ba8280-febe-11ea-99d0-ec40b7ce8417.png)

google version

[2020-09-24 22:54] brianteeman commented on #125
Super quick proof of concept

![menu](https://user-images.githubusercontent.com/1296369/94208237-46e86500-fec1-11ea-9a7e-1adbe83ee0e4.gif)
![chrome_2020-09-24_23-49-22](https://user-images.githubusercontent.com/1296369/94208125-07217d80-fec1-11ea-8806-c4828103bfb6.png)
![chrome_2020-09-24_23-49-36](https://user-images.githubusercontent.com/1296369/94208129-07ba1400-fec1-11ea-841a-f44ce7b43288.png)

[2020-09-25 00:30] ohrionmartin commented on #95
Hi @chmst
I am willing to help on this issue, would you care to give me some more directions on how to go about doing this?

[2020-09-25 06:22] drmenzelit commented on #124
@chmst it this related with sample data?

[2020-09-25 06:34] hans2103 commented on #115
Created PR https://github.com/joomla/cassiopeia/pull/132

[2020-09-25 06:35] hans2103 commented on #111
please no references to issues.joomla.org but to github issues.

[2020-09-25 06:35] drmenzelit commented on #114
~~#d8544f was selected as provisional color to show how the color switch works (https://github.com/joomla/cassiopeia/pull/71#issue-485984563). It somehow fit with the colors on the Cassiopeia header image.
We are open for better suggestions :-)~~

I misunderstood the issue... the problem is the color variable $danger that is used for invalid elements

[2020-09-25 06:38] drmenzelit commented on #111
https://github.com/joomla/joomla-cms/issues/29504

[2020-09-25 06:48] brianteeman opened #133 "Search Button"
### Steps to reproduce the issue
Install development branch and sample data

### Expected result
search button placed next to search box

### Actual result
On some mobile resolutions the search button is wrapped to the next line
![image](https://user-images.githubusercontent.com/1296369/94235442-7ddf6a80-ff03-11ea-947f-fe02a25fc5d9.png)

### System information (as much as possible)

### Additional

[2020-09-25 06:49] drmenzelit commented on #117
Yes, for menus on the sidebar there is no mobile view. The problem is if a user has the main menu on the menu position (inside the header) and a sub or secondary menu on the sidebar, he/she/it will have then 2 hamburger menus?
One can change the grid order on mobile so the menu is over the content, but a sidebar can have more than a menu...

@hans2103 do you have an idea for that?

[2020-09-25 06:54] hans2103 commented on #111
created pr https://github.com/joomla/joomla-cms/pull/30761

[2020-09-25 06:54] #111 closed, assigned to hans2103

[2020-09-25 06:54] #107 closed, assigned to hans2103

[2020-09-25 06:55] hans2103 commented on #115
Closing this issue, since PR is created.

[2020-09-25 06:55] #115 closed, assigned to hans2103

[2020-09-25 06:57] brianteeman opened #134 "sidebar module truncated"
### Steps to reproduce the issue
Install development branch and create some modules in the sidebar-right position

### Expected result
all the modules are displayed

### Actual result
The bottom of the last module is not displayed

This image shows that that the spacing below the image and the bottom border of the module is missing when displayed on mobile
![image](https://user-images.githubuserco

[2020-09-25 06:58] hans2103 commented on #106
I cannot reproduce the issue with joomla/cassiopeia#development

<img width="743" alt="Schermafbeelding 2020-09-25 om 08 57 39" src="https://user-images.githubusercontent.com/639822/94236241-2f36ce00-ff0d-11ea-9096-7c4085d8e2ae.png">

[2020-09-25 07:02] chmst commented on #125
The solution is as we had in the beginning and in the backend menu. Headings open the submenu but are no links.

[2020-09-25 07:09] brianteeman commented on #117
Surely whichever menu is the default should be the burger

[2020-09-25 07:43] drmenzelit commented on #120
@chmst can this be changed on sample data?

[2020-09-25 08:15] drmenzelit commented on #119
Should be resolved with https://github.com/joomla/joomla-cms/compare/4.0-dev...drmenzelit:patch-1

[2020-09-25 09:32] richard67 commented on #125
@chmst Yes, but when we had extended this I asked if this is accessible or not, and nobody said it's not. I have no problem with it when we change it back.

[2020-09-25 09:55] richard67 commented on #124
I think it is.

[2020-09-25 09:57] chmst commented on #124
Yes and no.
It is true that a Website should contain at least one H1. But this is in the responsibility of the webdesigner.  Where and how he adds this. So the question is: are sample data just for demonstration of some params and features or is the purpose also to give a fully accessible site.
In a real site I use template overrides for setting of h1 in article header. For sample data this is not

[2020-09-25 09:58] richard67 commented on #120
As Christiane might be busy: I think yes.

[2020-09-25 09:59] chmst commented on #120
It was inherited  ;) but yes

[2020-09-25 10:01] chmst commented on #123
You ar right, the images in sample data are still work in progress.

[2020-09-25 10:09] chmst commented on #95
@ohrionmartin You can make an installation and install sample data. Then you read the Article "Working on your site". You will see that the text is not quite up to date.
Then you can  take the file adminitrator/languages/en-GB/plg_samledata_blog.ini, there the articles are stored as language strings.

These language stringes are already translated into all languages for Joomla. So every change in

[2020-09-25 10:09] richard67 commented on #129
@brianteeman Not sure if I understand right: The first screenshot shows what is loaded when using font scheme "Roboto + Noto Sans (web)", and the 2nd one shows what is loaded when using font scheme "Roboto (local)"?

[2020-09-25 10:11] brianteeman commented on #124
The demonstration data is what we will be judged on when someone evaluates joomla for the first time.

[2020-09-25 10:12] richard67 commented on #95
To be more precise: "Blog Sample Data".

[2020-09-25 10:12] brianteeman commented on #129
Yes that is correct.

In the first screenshot only one roboto font file is loaded
In the second screenshot there are two roboto font files loaded

[2020-09-25 10:28] hans2103 commented on #128
@brianteeman can you add a link where this issue can be seen? I don't know the entire Sample Data by heart.

[2020-09-25 10:33] ohrionmartin commented on #95
Found it and now working on it, Thank you!

[2020-09-25 10:34] richard67 commented on #129
The "Roboto + Noto Sans (web)" uses "Roboto" for the headings and "Noto Sans" for "normal" text (body, ...).

The "Roboto (local)" uses that font for both headings and "Normal" text. Headings are bold, normal text not.

Does that explain it? Let me know if not.

Beside this: I know the local fonts implementation could if not even should be improved.

But we were limited by the following:
1. We sha

[2020-09-25 10:40] brianteeman commented on #129
Ok I think I understand you now. I am really not impressed with this local font thing. Especially as its the default. Its addressing an issue which only one country seems to have and is impacting the performance for everyone. If a user really wants to not use google fonts then that should be their choice and not something forced upon them. There are even options for privacy focussed google web fon

[2020-09-25 10:42] brianteeman commented on #128
Any page that has a prev or next button
eg
sample-layouts/category-list/75-your-modules

[2020-09-25 10:52] richard67 commented on #129
@brianteeman And I pretty much understand your concerns and points. We can collect more opinions and easily change the default if that's desired.

We decided to use it as default because of that privacy issue of which I think it won't be an issue anway in near future because either US and EU agree a new kind of safe harbour or privacy shield or however they call it, or they have to make an intrane

[2020-09-25 11:16] richard67 commented on #129
I think whatever we will do will be wrong: If we make web fonts the default, people in EU will complain it is not safe regarding GDPR, and if we make local fonts the default, people outside EU will complain about performance issue and too big font file, and in both cases we can write the best documentation and add hints about that to every release announcement, but people very likely won't read th

[2020-09-25 11:18] chmst opened #136 "remove demo-styling.scss?"
### Open question
Who usese the file demo-styling.scss?

[2020-09-25 11:42] hans2103 commented on #136
Only the demo module does. I can't find a demo module. Can't find it... will create PR to remove it.

[2020-09-25 11:43] hans2103 commented on #136
https://github.com/joomla/cassiopeia/pull/137

[2020-09-25 11:43] #136 closed, assigned to nobody

[2020-09-25 11:50] hans2103 commented on #128
Issue is solved when https://github.com/joomla/cassiopeia/pull/131 is merged

[2020-09-25 12:00] hans2103 commented on #133
@drmenzelit created a PR for this issue: https://github.com/joomla/cassiopeia/pull/135

[2020-09-25 12:00] #133 closed, assigned to drmenzelit

[2020-09-25 13:12] richard67 opened #139 "Colours of edit module icons in header and footer area"
### Steps to reproduce the issue

The colours of edit module icons in the header and footer area need to be different to the colour they have elsewhere.

### Expected result

Something better than below.

### Actual result

When not hovered or selected, the icon is not visible at all because its colour seems to the the same as the background colour.

(It makes no sense to show screenshot for this

[2020-09-25 13:17] richard67 commented on #128
Solved with #131 . Feel free to re-open if this is not the case. Further improvements on these buttons may happen with future PR's.

[2020-09-25 13:22] chmst opened #140 "Missing grid-gutter above the content area"
### Steps to reproduce the issue
Missing grid-gutter above the content area

from @richard67

There is no space betwen the grey frame of the breadcrumbs module and the heading, while for the sidebar modules there is. Shall it be fixed with this PR here or with another, future one?

[2020-09-25 13:26] hans2103 commented on #140
Screenshot please

[2020-09-25 13:26] richard67 commented on #140
"This PR here" refers to #138 where I posted my comment with a screenshot.

[2020-09-25 13:27] hans2103 commented on #140
fixed in https://github.com/joomla/cassiopeia/pull/132

[2020-09-25 13:28] hans2103 commented on #140
and relates to https://github.com/joomla/joomla-cms/pull/30760

[2020-09-25 16:00] Quy commented on #106
It is reproducible on Firefox 81.0 on Windows 10.

[2020-09-25 17:26] chmst commented on #121
I am closing this as we have a PR

[2020-09-25 17:26] #121 closed, assigned to chmst

[2020-09-25 18:00] chmst commented on #106
Seems that the listlimit selector makes strange effects
![grafik](https://user-images.githubusercontent.com/1035262/94300716-b3b73a00-ff69-11ea-8f31-2accfdd2481b.png)

[2020-09-25 18:46] chmst commented on #140
#132 works, thank you

[2020-09-25 18:46] #140 closed, assigned to nobody

[2020-09-25 18:51] chmst commented on #125
We have discussed that and had the information that tihs is accessible. It is all right for keyboard users, every element is focusable.

In my opinion it is not userfriendly but was required for the dropdown - B/C.

[2020-09-25 19:00] brianteeman commented on #125
Try it with a screenreader https://github.com/joomla/cassiopeia/issues/125#issuecomment-698602906

Thats certainly not accessible

[2020-09-25 19:34] brianteeman commented on #128
@richard67 #131 made no change to this - please re-open as I dont have permissions to do that

[2020-09-25 19:37] richard67 commented on #128
@brianteeman Hmm, to me it seemed to be ok when I've tested. Could you test again on the development branch? I'll re-open your issue meanwhile, if the test is ok you can close it again.

[2020-09-25 19:52] brianteeman commented on #128
Of course I checked with the development branch and saw no changes but please could you post a screenshot of what you saw

[2020-09-25 20:25] richard67 commented on #128
The prev and next buttons have light grey borders also when not hovered.

Here below the first of the 3 articles in the sequence, the right border of the "Next" button seems to be aligned well with the right edge of the text:

![2020-09-25_4](https://user-images.githubusercontent.com/7413183/94312179-bc653b80-ff7c-11ea-84ac-d7702c860e41.png)

Below the 2nd article, the left border of the "Prev" bu

[2020-09-25 20:47] brianteeman commented on #128
Really weird. git was saying my branch was up to date. refreshed it about 5 times. nothing. 6th time it found the recent merges and all good now.

[2020-09-25 20:47] #128 closed, assigned to nobody

[2020-09-25 20:55] richard67 commented on #129
Regarding [https://fontless.varld.co/](https://fontless.varld.co/): I could read in their [readme on GitHub](https://github.com/varld/fontless) that they also use [google-webfonts-helper](https://github.com/majodev/google-webfonts-helper), so it's very likely that they don't use separate different particular charactersets and the `unicode-range` but combine all available character sets into one fo

[2020-09-25 20:55] chmst commented on #128
What do you think about having both buttons centered below the text instead of left / right?
![grafik](https://user-images.githubusercontent.com/1035262/94314874-c63d6d80-ff81-11ea-9f80-555cd15e5fb6.png)

In a big screen we can see both buttons at once and do not need big eye movements.

[2020-09-25 20:57] brianteeman commented on #128
Can't say I have ever really thought about it.

[2020-09-25 20:59] richard67 commented on #128
If it was really centered it could be ok, but in the screenshot above it appears not really centered, even if it shows a part only.

And that would look ugly, if not exactly in the middle.

And it would only look good when the text area has a border or when text is left and right justified (what we call in German "Blocksatz", don't find the English term now, so that we really can see it is in the

[2020-09-25 21:00] brianteeman commented on #129
yes but they dont do any tracking and its self hosted - that was the point

[2020-09-25 21:09] chmst commented on #128
This is not a pr :) it is a fake screenshot and of course, the buttons must be centered correctly.  It is more a question of UX. Your eyes now must search the next / prevoius button on a big screen.

[2020-09-25 21:09] richard67 commented on #129
Yes, that's true, and they offer so send it to a CND so no performance issue on the server.

The good thing is: With our font schemes one can use any font from web, not only Google fonts.

It just needs to specify the right URL in the SCSS for the font scheme. So one could use [https://fontless.varld.co/](https://fontless.varld.co/) from the [Vercel](https://vercel.com/) where they send the fonts

[2020-09-25 21:10] richard67 commented on #128
Regarding UX it would be in fact better, not only because shorter eye movement but also shorter mouse movement for fast paging forward and backward.

If you can make it look good, I could like it.

[2020-09-25 21:20] brianteeman commented on #128
The benefit would really depend on the width of the content AND if you are displaying the title  in the next page link or not. If I look at the pagination on my latest site a change to centred would make it worse not better because ot the different sizes of the links.

eg
### Current
![image](https://user-images.githubusercontent.com/1296369/94316871-1960f180-ff7d-11ea-9fe1-d123a0ad1005.png)

###

[2020-09-25 21:28] chmst commented on #128
This is a good argument. It depends ..

[2020-09-25 21:33] richard67 commented on #128
Oh yes.

[2020-09-25 21:35] richard67 commented on #129
Hmm, thinking over it, for adding a new font scheme one has to add it to the templateDetails.xml, and if that shall be safe from being overwritten by a core update, one would have to copy the template, too. So not a big difference, I admit.

[2020-09-25 22:07] chmst commented on #120
@richard67 the modules login_form and main-menu are stored during the installation. There is no headertag defined and obviously the default value for header_tag is h4.
h4 as default is surely wrong.
So there are two ways:
- either the installation sql stores the "header-tag":"h3" for these modules
- or the default value for rendering modules is adapted (imho the better way)
-or both

in any case t

[2020-09-25 22:09] richard67 commented on #120
Oh, I see.

[2020-09-26 11:48] chmst commented on #122
The module articles_news does not render readmore Links with title. Has to be fixed in joomla-cms

[2020-09-26 11:52] chmst commented on #16
Has been asked in JAT

[2020-09-26 16:49] brianteeman commented on #122
PR created https://github.com/joomla/joomla-cms/pull/30780 please test

[2020-09-26 16:49] #122 closed, assigned to chmst

[2020-09-26 17:35] chmst commented on #127
Closing this for now as there is a PR

[2020-09-26 17:35] #127 closed, assigned to chmst

[2020-09-26 17:37] chmst commented on #93
@softforge could you restest please?

[2020-09-26 17:54] richard67 commented on #127
merged

[2020-09-26 18:13] brianteeman commented on #93
You might find this useful as it lets you test multiple sizes at once

https://chrome.google.com/webstore/detail/responsive-viewer/inmopeiepgfljkpkidclfgbgbmfcennb

[2020-09-26 18:37] richard67 commented on #119
https://github.com/joomla/joomla-cms/pull/30781

[2020-09-26 19:26] dgrammatiko commented on #129
FWIW there are tools (npm) that will download a google version of any font (with all the optimisations) So you get all the things for free (perf, small size, any G-font).

[2020-09-26 19:28] richard67 commented on #129
@dgrammatiko Not small size, read my comments above, those tools almost all, if not all, use google-webfonts-helper. you can keep size small by using only latin character set, but the npm packages i found combine the character sets all together and so the files are much bigger than those from google.

[2020-09-26 19:30] richard67 commented on #129
@dgrammatiko P.S. and we were limited to not add a new dependency, so we had to use what is already there, and that has the big file with all character sets.

[2020-09-26 19:33] dgrammatiko commented on #129
@richard67 there is no dependency or whatever, just do an `npx google-font-downloader https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i`; (npx will run a node module without installing it)

https://www.npmjs.com/package/google-font-downloader

![yGcOPKg](https://user-images.githubusercontent.com/3889375/94348856-d61b8700-003f-11eb-9e1f-9885384a520b.gif)

[2020-09-26 19:35] richard67 commented on #129
yes and it downloads the fonts and a css.

and where to store it? we had started with that in the build/media_source/fonts folder but were blamed to pollute Joomla with that.

[2020-09-26 19:37] dgrammatiko commented on #129
In the template that is using this font, casiopeedia

[2020-09-26 19:43] richard67 commented on #129
@dgrammatiko That's what we had at the beginning. Then we were blamed here [https://github.com/joomla/cassiopeia/pull/18#issuecomment-674556536](https://github.com/joomla/cassiopeia/pull/18#issuecomment-674556536).

Then we decided to change to a solution with minimum impact on what we have now in the core regarding additional files or folder and additonal dependencies.

Maybe it is not optimal ye

[2020-09-26 19:48] richard67 commented on #129
@dgrammatiko The tool you've linked seems to do it right with the character sets, divide them into smaller files like google does. So that could be indeed better that the google-webfonts-helper. I will discuss that in the team. It could be at least an option for future improvement.

[2020-09-26 19:52] dgrammatiko commented on #129
@richard67 basically you can create a new field, and with some js magic you can allow users to d/l any google font. No tracking, no 2 more DNS resolves. Big gains for everyone. Don't think small here (eg solving the problem for roboto and 1 template, solve it for everyone 😉)

[2020-09-26 19:55] richard67 commented on #129
@dgrammatiko And how should it be for a new installation initially? shall we already provide some of these fonts with the installation in the template's folder structure somewhere? or only have that field so backend user can use it in template style settings to add some fonts plus the css but we don't ship some with the core?

[2020-09-26 19:56] richard67 commented on #129
@dgrammatiko Technically I understand what you mean and I already investigated about that. For js details I for sure would need help. But mainly it is a question of what shall we ship with the core.

[2020-09-26 19:56] dgrammatiko commented on #129
I'm guessing you should respect the designers opinion here and provide roboto as the default.

[2020-09-26 19:58] dgrammatiko commented on #129
Ship anything that helps a11y, perf and users workflow

[2020-09-26 20:00] richard67 commented on #129
@dgrammatiko Well the original design of Cassiopeia was with "Fira Sans". We only have chosen Roboto for the local fonts because that was already there for the backend, and for the web fonts we decided to have an additonal option with better character set support than Fira Sans, and so we came to the combination "Roboto fore the headings and Noto Sans for the text from Googlefonts". If you want, c

[2020-09-26 20:10] brianteeman commented on #119
Closing as I have tested the pr - thanks

[2020-09-26 20:10] #119 closed, assigned to nobody

[2020-09-26 20:13] brianteeman commented on #129
Thank you @dgrammatiko https://github.com/joomla/cassiopeia/issues/129#issuecomment-699538528

[2020-09-26 20:43] brianteeman commented on #125
I can get close to fixing the clickable area (not the accessibility) by changing
https://github.com/joomla/cassiopeia/blob/be0c5669142f4f456f5e2c550ff92268dbf2a553/templates/cassiopeia/html/mod_menu/metismenu.php#L100

to include the class stretched-link

and by removing position: relative from
`.metismenu.mod-menu .mm-toggler`

But then my css skills fail me

[2020-09-27 14:47] richard67 commented on #126
Solved with #143 .

[2020-09-27 14:47] #126 closed, assigned to nobody

[2020-09-27 15:10] richard67 commented on #139
Solved with PR #142 .

The position issue and that it is only shown when hovering the module (in opposite to article or contact edit icons) has to be solved with another PR either here or in the CMS repository.

[2020-09-27 15:10] #139 closed, assigned to drmenzelit

[2020-09-27 15:22] richard67 commented on #33
Anything which can be checked meanwhile in the to-do list?

[2020-09-27 15:38] drmenzelit commented on #100
The problem was solved with PR #101
We can open a new issue for the structure and content of the error page.

[2020-09-27 15:38] #100 closed, assigned to drmenzelit

[2020-09-27 16:02] richard67 commented on #134
Solved with PR #144 .

[2020-09-27 16:02] #134 closed, assigned to nobody

[2020-09-27 18:26] chmst opened #146 "Links in blog and featured"
I have made a PR https://github.com/joomla/joomla-cms/pull/30788

It is for link lists in views blogs and featured. At the moment, the ordered list is displayed with numbers.

![grafik](https://user-images.githubusercontent.com/1035262/94373058-0c6e0a80-0103-11eb-803d-9eafadc51dbe.png)

The link lists needs some styling

And maybe it can be improved for UX and a11y.

[2020-09-27 21:19] richard67 commented on #119
Meanwhile PR [https://github.com/joomla/joomla-cms/pull/30781](https://github.com/joomla/joomla-cms/pull/30781) has been merged in the CMS repo, and the branches of this repo have been updated to latest 4.0-dev of the CMS, so the fix has meanwhile arrived here, too.

[2020-09-28 10:30] richard67 commented on #146
PR https://github.com/joomla/joomla-cms/pull/30788 has been merged this morning in the CMS repo, and just now I have updated the branches of this repo to latest 4.0-dev on the CMS, so the change has arrived here, too. Can this issue be closed now, or are there some aspects still to be solved?

[2020-09-28 11:10] chmst commented on #146
Thank you. It is a first step, but it can be improved, as there are still tow links if the title is linked and the readmore is active. So pleas let it open

EDIT - sorry confised issues. ;) We can close this

[2020-09-28 11:12] #146 closed, assigned to nobody

[2020-09-28 19:36] chmst commented on #94
This is no issue of cassiopeia. If it si resolved in core for menus, then the metis menu can use this solution.

[2020-09-29 07:44] ghost opened #150 "[del]"
[del]

[2020-09-29 07:45] chmst commented on #124
I add the joomla-cms label, ti is not the task of a template, but made as much as possible

[2020-09-29 07:52] chmst commented on #3
done

[2020-09-29 07:52] #3 closed

[2020-09-29 07:53] infograf768 commented on #87
We could get rid of the part of the js concerning the edit module and modify `frontediting_modules.php`. This would work with the `card` chrome in the side positions but would fail with the system chromes.

[2020-09-29 09:32] chmst commented on #118
Closing this as resolved

[2020-09-29 09:32] #118 closed, assigned to drmenzelit

[2020-09-29 12:14] #7 closed

[2020-09-29 12:46] chmst commented on #125
Most important is accessibiliy. This must be an accessible drop down menu. Parent Item menus will open the submenu, as we have in the backend.

[2020-09-29 13:08] drmenzelit commented on #77
That is related with how frontediting works and I think, it can't be solved in the template

[2020-09-29 13:37] chmst commented on #123
@brianteeman We should resolve this in joomla-cms. If there is a readmore or title then a extended link for the woleard as you have suggested is best solution.

[2020-09-29 14:29] brianteeman commented on #123
Please leave this open until I get a spare moment to look at creating a pr for this in joomla-cms. It will act as a reminder

[2020-09-29 14:30] brianteeman commented on #125
@chmst I agree with you of course. But if you check the admin you will see that we do not use menu items of type header in the admin at all.

[2020-09-29 15:41] chmst commented on #8
@helvecio
Can we close this? Or what do we have to for cloing this`?

[2020-09-29 20:04] chmst commented on #123
I think the best ist:
if there is the param "link-title" OR a readmore then the whole card sas a whole chould be a single link.

When I think about this, it would als be great for items in the blog. Then it is simple for users and no duplicate links can occur

[2020-09-29 20:55] brianteeman commented on #123
I dont agree - it would mean we would have to rename the terminology etc

I will work on it tomorrow

[2020-09-29 23:04] chmst opened #154 "Category (and other) list filters are not forms, a11y"
### What needs to be fixed
![grafik](https://user-images.githubusercontent.com/1035262/94625175-682dc480-02b8-11eb-8bdb-6858f12d3fa7.png)

Wave says "form missing" around filter.

Filter field, pagination-linit and botton are wrong

list limit dropdoown needs styling. it is too narrow

[2020-09-29 23:09] chmst opened #155 "Sample data generate wrong menu item for category list"
### Steps to reproduce the issue
Install fresh sample data.
Go to backend, menus, and open the menuItem Category List.

### Expected result
![grafik](https://user-images.githubusercontent.com/1035262/94625544-4254ef80-02b9-11eb-9647-804d39eba119.png)

### Actual result
MenuItemtype is missing, the selcted category is missing

[2020-09-30 09:35] ghost opened #156 "[del]"
[del]

[2020-09-30 09:49] ghost opened #157 "[del]"
[del]

[2020-09-30 10:00] brianteeman commented on #157
This is something that should be up to the individual template

[2020-09-30 10:02] gostn commented on #157
isnt cassiopeia a template?

[2020-09-30 10:02] richard67 commented on #157
Regarding introtexts I have a different taste. In my opinion it should have same style as full text. But regarding the image caption I agree.

[2020-09-30 10:07] ghost opened #158 "[del]"
[del]

[2020-09-30 10:15] Scrabble96 opened #159 "system-message-container displays margin-top 15px even when empty"
### Problem identified
When a module is used in the main-top position there is quite large gap between it and the component content. This is partly due to the system message container displaying a 15px margin top even when there is no message to display.

If the main-top position is not used, then the system message container top margin does not display.

### Proposed solution
Remove the code that

[2020-09-30 10:21] brianteeman commented on #157
Case proven. Everyone will have different views on this and that is why you can change the css in your template to match your own views/intentions/design.

[2020-09-30 10:40] richard67 commented on #157
Sure. The question is what is a good show case for our default template.

[2020-09-30 10:44] brianteeman commented on #157
and thats something for the other repo ;)

[2020-09-30 13:20] drmenzelit commented on #156
Where come these links from?

[2020-09-30 13:24] gostn commented on #156
Article.

[2020-09-30 13:52] drmenzelit commented on #159
We have already a PR dealing with this (#132), but we need more improvements

[2020-09-30 13:58] richard67 commented on #159
Not really. The PR which deals with the "when there is no message to display" aspect is joomla/joomla-cms#30760 , see my comment in the PR you have mentioned: https://github.com/joomla/cassiopeia/pull/132#issuecomment-701384248

[2020-09-30 15:37] chmst commented on #83
If I wrote that it probably was midnight :D. closing this.

[2020-09-30 15:37] #83 closed, assigned to nobody

[2020-09-30 18:12] chmst commented on #17
Changing images in sample data is easy. The question is mor "which images". This isa an example with images from the nasa.
Meanings are different - is this too much?

![grafik](https://user-images.githubusercontent.com/1035262/94723272-c5795280-0358-11eb-89b5-60e1dfea90c6.png)

[2020-09-30 18:32] brianteeman commented on #17
They are fine for me

[2020-09-30 18:37] richard67 commented on #17
Well at least they are different, so the random image module would make sense ;-)

[2020-09-30 21:29] brianteeman commented on #123
Closing now I have created a PR in the main repo as promised https://github.com/joomla/joomla-cms/pull/30823

[2020-09-30 21:29] #123 closed, assigned to chmst

[2020-09-30 21:43] brianteeman commented on #156
I have created a pr at joomla-cms to use a better class which should enable you to style it better here in the template repo
https://github.com/joomla/joomla-cms/pull/30824

[2020-10-01 04:08] gostn commented on #156
thanks @brianteeman

[2020-10-01 04:08] #156 closed, assigned to nobody

[2020-10-01 10:38] chmst commented on #117
The main menu is added during installation in the right sidebar.
We can change the position in the installation sql. Then the main menu is on top and the hamburger opens the main menu.
The main menu blog then goes to the sidebar.

I will make a pr for that. It does not afffect the cassiopeia but the joomla-cms.

[2020-10-01 11:51] richard67 commented on #113
Should be solved with PR #152 . I've just visually tested.

[2020-10-01 11:51] #113 closed, assigned to nobody

[2020-10-01 11:51] richard67 commented on #114
Should be solved with PR #152 . I've just visually tested.

[2020-10-01 11:51] #114 closed, assigned to nobody

[2020-10-01 13:47] drmenzelit commented on #106
Solved with PR #151

[2020-10-01 13:47] #106 closed, assigned to Quy

[2020-10-01 13:50] richard67 commented on #86
Solved with PR #153 .

[2020-10-01 13:50] #86 closed, assigned to nobody

[2020-10-01 13:52] richard67 commented on #95
@chmst Has solved #149 everything for this issue? Or is there something remaining? As far as I can see, not everything you mentioned in the description of this issue was handled ny the PR.

[2020-10-01 14:08] drmenzelit commented on #158
@gostn in Cassiopeia there are some modifiers classes to create nice blog layouts as explained here:
https://github.com/joomla/joomla-cms/pull/18319
Could you please test if the classes work? Not only here in the Cassiopeia repo, but also on a normal Joomla Beta installation? We have the feeling that something got lost at some point of the development...
Please open an issue on the cms repo if the

[2020-10-01 14:39] gostn commented on #158
if its expected that field "intro image float" don't work than it should be removed (in global option too).

[2020-10-01 15:54] Quy opened #162 "Double underline in navbar"
### Steps to reproduce the issue
Is this the desired effect?

### Actual result

![underline](https://user-images.githubusercontent.com/368084/94832935-643a9900-03c3-11eb-8f36-4f3b30c87533.png)

[2020-10-01 16:20] drmenzelit commented on #162
No, that is not correct...
`not(.container-header) .mod-menu.nav li.active > a, :not(.container-header) .mod-menu.nav li a:hover {
    text-decoration: underline;
}`
is not doing the trick... We need to check again

[2020-10-02 07:25] chmst commented on #120
While it is correct that in installation data the header-tag is missin, I have found the wrong default falue in the chrome. Closing this as we have a PR

[2020-10-02 07:25] #120 closed, assigned to chmst

[2020-10-02 07:36] gostn commented on #157
correct. For intro-text is no class to change the css.

[2020-10-02 09:05] richard67 commented on #162
Has been solved with #163 .

[2020-10-02 09:15] chmst opened #165 "Container-banner styling"
### Steps to reproduce the issue
If a user adds a custom module on position banner with own image or Text, cassiopeia enforces the background and font styling.

### Expected result
User can add own styling for custom modules.

[2020-10-02 12:18] drmenzelit commented on #165
Like every template... if the user wants to change it, he/she can use own css...

[2020-10-02 19:05] chmst commented on #157
@gostn you are right, introtext has no own class for styling. This is an issue which is valid for com_content article view, not the template.

Styling the caption will be merged asap, there are two variants #160 and #161.

[2020-10-02 20:17] softforge commented on #93
Test Ok all seems fixed

[2020-10-02 20:18] richard67 commented on #93
So the issue can be closed?

[2020-10-02 20:19] softforge commented on #93
As far as my problem was concerned, yes, great Job!

[2020-10-02 20:19] #93 closed, assigned to nobody

[2020-10-02 21:02] chmst commented on #95
The most important part is updated, Thank you @ohrionmartin
At the end, all sample data texts will need a review but we make small steps :)

[2020-10-02 21:02] #95 closed, assigned to chmst, ohrionmartin

[2020-10-03 06:29] gostn commented on #157
thanks, can test at joomla-cms.

[2020-10-03 06:32] ghost opened #167 "[del]"
[del]

[2020-10-03 06:33] gostn commented on #158
Where to set global options for blog layouts?

[2020-10-03 10:29] richard67 commented on #129
@brianteeman I think the 1st issue has been answered. The reasons for the 2nd issue have also been explained.

Regarding the 2nd issue I agree that (especially on older servers not supporting http/2 yet) it might be a page speed issue to load the bigger font file(s). This might be ok for the backend but not for the frontend.

I also agree with @dgrammatiko 's ideas for having a user friendly inter

[2020-10-03 10:35] dgrammatiko commented on #129
@richard67 let me try some js magic: https://github.com/joomla/joomla-cms/compare/4.0-dev...dgrammatiko:4.0-dev-google-fonts-for-all?expand=1

[2020-10-03 10:41] richard67 commented on #129
@dgrammatiko Sure I let you try.

As I can see you are doing it based on the 4.0-dev branch of the CMS. If you want us to do it here with the Cassiopeia enhancements, you'd have to change that so it is for the development branch of this repo here. But I think it could be better to do it in the CMS repo, not here, so these 2 little projects don't depend on each other. What would be better for you?

[2020-10-03 11:07] gostn commented on #158
joomla/joomla-cms#18319:

Where to set global options for blog layouts?

work.

[2020-10-03 11:09] richard67 commented on #158
In the options of com_content, as far as I remember.

[2020-10-03 11:18] gostn commented on #158
In the options of com_content the number of the articles can be set, but where the default classes for leading and intro-articles:

![Screen Shot 2020-10-03 at 13 15 52](https://user-images.githubusercontent.com/71960554/94990252-dbfef400-057a-11eb-9d49-d07435aa9ffa.png)

[2020-10-03 12:05] chmst commented on #158
Settings for the blog layout are made in the blog-layout tab of the menuitem with classes

See also this description: https://github.com/joomla/joomla-cms/pull/18319

I am working on a PR it to make it easier for users.

[2020-10-04 04:32] gostn commented on #158
yes. but where are the global options for the classes to set?

[2020-10-04 11:46] gostn commented on #158
in a comment i wrote ´work´, now its different: the difference between the 2 screenshots are length of introtext which cause different image-size. Looking at https://github.com/joomla/joomla-cms/pull/18319 the image-size is always same:

### blog class ´image-left´, same intro-text

![Screen Shot 2020-10-04 at 13 38 30](https://user-images.githubusercontent.com/71960554/95014505-b5f35580-0647-11eb

[2020-10-06 16:56] richard67 opened #170 "Z-index issue with Google invisible captcha"
### Steps to reproduce the issue

See https://github.com/joomla/joomla-cms/issues/29722

Should maybe be fixed in the Cassiopeia and not the CMS repository.

[2020-10-07 10:04] chmst opened #171 "Colours in cassiopeia"
### What needs to be fixed
Due to a11y contrast ratio we have now a colour for links which is hardly to see.

### Why this should be fixed
As for example on this site - you hardly see a difference in the breadcrumbs.

![grafik](https://user-images.githubusercontent.com/1035262/95313485-79ff0100-0890-11eb-9664-847299b88c96.png)

### How would you fix it
Go back to the original colour #006898 as pri

[2020-10-07 10:31] chmst opened #172 "Style filter above lists"
### Is your feature request related to a problem? Please describe.
![grafik](https://user-images.githubusercontent.com/1035262/95319939-fbf32800-0898-11eb-907a-19795261d3b0.png)

Filters need styling

[2020-10-07 10:45] richard67 commented on #171
But does that colour fit to the template colours? The original bootstrap blue for links and buttons looked ugly together with the Cassiopeia header area.

[2020-10-07 10:56] chmst commented on #171
I am not a designer. And it must not be this colour, of course, every other with good contrast ratio is accepted
The place where a primary button is in direct contact with the template colour is the search button in the header. So mybe we could choose a different colour for primary in the header?

@coolcat-creations proosed the new color https://www.pantone.com/color-finder/14-4811-TPX which match

[2020-10-07 18:31] chmst opened #173 "Styling of single contact"
### What needs to be fixed
The single contact view is a definiton list. In J3.x it is styled viea css - in J4 the styling is missing.

### Why this should be fixed
In Cassiopeia, this definition list is not styled

<img width="402" alt="icons-contact" src="https://user-images.githubusercontent.com/1035262/95372292-a724d100-08db-11eb-9ad0-66a814f6b21e.PNG">

### How would you fix it
https://github.

[2020-10-07 18:48] brianteeman commented on #173
Is it a list? Yes
Is it an ordered list? Perhaps
Is it an unordered list? No
Is it a list with terms that have more details? Yes

Although traditionally `dl` was called a _definition_ list it now more often called a _description_ list. When you think of it that way then I would say that yes it definitely is a dl.
The description list is the contact details
the description term is the "grouping" eg

[2020-10-08 20:42] hans2103 commented on #173
Mind that the `dl` was used on the first website ever.
http://info.cern.ch/hypertext/WWW/TheProject.html

I prefer using the `dl` for this too.

[2020-10-09 17:15] chmst opened #174 "Prewiew image for cassiopeia"
### What needs to be fixed
A soon as  PR is ready:  make a new template-thumbnaol

### Why this should be fixed
The template thumbnail is not the template we have now.

[2020-10-13 15:08] chmst commented on #165
all right, let's the user be creative

[2020-10-13 15:08] #165 closed, assigned to nobody

[2020-10-13 15:17] chmst commented on #157
@gostn maybe this is a misunderstanding.
We hahe added a decent styling for caption here in cassiopeia.

Your other issue - different classes for intro-text and fulltext cannot be resolved here. Could you open an issue for that in joomla-cms? Then we can close this one.

[2020-10-13 18:07] richard67 commented on #171
Closing as having a pull request. Please test #177 .

[2020-10-13 18:07] #171 closed, assigned to helvecio

[2020-10-13 18:10] richard67 commented on #91
@chmst Does PR #175 solve this issue completely from your point of view? Or would you like to have more changes?

[2020-10-13 18:12] richard67 commented on #167
Closing as having a pull request which claims to solve this issue. Please test #176 .

[2020-10-13 18:12] #167 closed, assigned to nobody

[2020-10-13 18:17] richard67 commented on #173
@chmst Does PR #178 solve this issue here completely? If yes, please close the issue.

[2020-10-13 18:25] chmst opened #180 "Select an alternative colour and define other colour variables"
### What needs to be fixed
We have an alternative colour from the first Design of @helvecio.
If this colour is used or not - in any case the other colours must have sufficient color contrast.

Maybe we also can use a light colour as contrast to to the dark cassiopeia.

### Why this should be fixed
a11y

[2020-10-13 18:58] chmst commented on #173
As it partially is a matter of taste, I would like to know your opinion.

<img width="752" alt="kontakt" src="https://user-images.githubusercontent.com/1035262/95903901-0cbf0480-0d97-11eb-8b79-cc520d484308.PNG">

Icons are replaced in another PR in joomla cms

[2020-10-13 19:02] richard67 commented on #173
@chmst Is the J4 screenshot with or without #178 ?

[2020-10-13 19:30] richard67 commented on #173
I prefer to have the icons vertically aligned with the texts like in the J3 screenshot, but if the J4 look comes from a better semantic structure then I can live with the J4 look, too.

[2020-10-13 19:35] chmst commented on #173
It is not as simple . The < dt > can be an icon or a Text or an image.

The semantic is the same in J3 and J4 but to get a responsive presentation we will need an override of the layout,. In J3 there is a brutal method to make a width of 180px for the < dt >.

The whole single contact is ugly and needs a design.

[2020-10-13 19:39] richard67 commented on #173
Is #178 then a useful step in this direction or not?

[2020-10-13 20:08] chmst commented on #173
We can merge it, it is better than before. For the layout and other issues on the contact form, we must open new issues on  joomla-cms. I'll add the label

[2020-10-13 20:39] chmst commented on #1
@coolcat-creations : what is needed to close this issue?

[2020-10-14 05:50] gostn commented on #157
done

[2020-10-14 05:50] #157 closed, assigned to nobody

[2020-10-14 08:19] chmst commented on #87
We must get rid of the jQuery part at least in the frontend, as this is not accessible. It is not about chromes but about the layout in cms. Added label joomla-cms

[2020-10-14 08:21] chmst commented on #91
We have a good solution with #175, thank you.

[2020-10-14 08:21] #91 closed, assigned to nobody

[2020-10-14 08:29] chmst commented on #8
Closing this now

[2020-10-14 08:29] #8 closed

[2020-10-14 08:31] chmst commented on #1
Closing this, as the question was answered.

[2020-10-14 08:31] #1 closed

[2020-10-14 14:51] chmst opened #181 "Remove underline for template title"
### Steps to reproduce the issue
Add a Title in the template Params, it appears underlined but is not a link. This is misleading

![grafik](https://user-images.githubusercontent.com/1035262/96006122-709c0880-0e3d-11eb-8f79-674454138849.png)

[2020-10-18 09:05] chmst opened #182 "styling of voting"
### What needs to be fixed
https://github.com/joomla/joomla-cms/pull/31098#issuecomment-711138210

[2020-10-19 14:07] richard67 commented on #125
I'm working on a possible solution: #184 ... but it's still work in progress and needs at least some more scss changes for not having the item underlined when hovering if it doesn't have a link.

[2020-10-19 14:45] chmst opened #185 "Deactivate language debugging when storing sample data"
### Steps to reproduce the issue
https://github.com/joomla/joomla-cms/issues/31160

[2020-10-19 15:04] richard67 commented on #185
Hmm, basically this should be fixed in the CMS repo because it's a bug and not related to our sample data enhancements here.

Or am I wrong?

[2020-10-19 15:14] chmst commented on #185
I have opened it in joomla-cms https://github.com/joomla/joomla-cms/issues/31160
this is a reminder

[2020-10-20 05:54] ghost opened #187 "[del]"
[del]

[2020-10-20 06:35] ghost opened #188 "[del]"
[del]

[2020-10-20 06:36] richard67 commented on #187
@gostn If the issue is to change Blog sample data to avoid this, then this here is the right repository.

But if the issue is that you think the Prev and Next buttons have to handle permissions, then this here is the wrong place to open an issue, and the CMS repository https://github.com/joomla/joomla-cms would be the right place.

This repository here deals with the enhancements of the Cassiopeia

[2020-10-20 06:38] richard67 commented on #188
@gostn See my comment in your other issue: https://github.com/joomla/cassiopeia/issues/187#issuecomment-712628217

This repository here doesn't deal with all aspects of Blog sample date or frontend.

Your issue here is not (directly) related to the work in this repository here.

[2020-10-20 08:58] chmst commented on #188
@gostn thank ypu for testing. No, thiat is not corret.  I have to review it asap.

[2020-10-20 12:22] richard67 commented on #188
As #189 doesn't solve this issue (but solves a related issue), I suggest to keep this issue here open.

[2020-10-21 08:47] richard67 commented on #162
It seems it either has not been fully solved with PR #163 , or it came back with the later PR #175 .

How to reproduce:

1. On desktop, start with big browser window.
2. Select menu item "About" in the menu at the top so that it is the active menu item.
Result: It gets a blue underline.
3. Slowly reduce browser window width and watch the "About" menu item.
Result: At a certain point a second, whit

[2020-10-21 08:54] drmenzelit commented on #162
I will check it

[2020-10-21 12:05] Scrabble96 opened #190 "Metis Menu does not work for third level menu items"
### Steps to reproduce the issue
Install PR #48 package dated 20/10. and sample blog
Add a menu separator item under the Main Menu Blog > Sample Layouts > Articles item
Add a new menu item under that separator

### Expected result
There should be a dropdown triangle next to the separator to reveal the items below

### Actual result
There is no triangle:
![third-level-metis-horizontal](https://user

[2020-10-21 12:09] richard67 commented on #190
@Scrabble96 That's a known limitation of the metismenu, as far as I know. @chmst Can you confirm this?

[2020-10-21 13:11] chmst commented on #190
We have decided to have 2 levels to keep the metismenu accessible.
We will need a documentation for this restriction

[2020-10-21 13:14] richard67 commented on #190
@chmst We have 3 levels: Top level, then one below and then another one, not 2 like you write, except if you only count the sub-levels. Did you mean that, 2 sub-levels?

Other question: Would it make sense not to output those levels which cannot be shown anyway, i.e. stop with level 3 (or submenu level 2)? Currently the menu items are in the html, they are just never visible.

[2020-10-21 13:33] brianteeman commented on #190
It will need more than documentation it MUST go in the module description otherwise this will be a huge cause of bug reports especially as this has been done as a layout and not a separate module.

![image](https://user-images.githubusercontent.com/1296369/96725469-cd9d3e80-13a8-11eb-84d0-3d9f42fc3f53.png)

In fact the more I think about it if there is going to be this restriction then it must be

[2020-10-21 13:35] brianteeman commented on #190
Just deleted my last comment as it was completely wrong - sorry

The menu does display ALL the levels. You just have to make sure that the module is set to display all the levels by changing the end level in the options. (just as always)

![image](https://user-images.githubusercontent.com/1296369/96727074-929c0a80-13aa-11eb-9edc-9c0c44b53364.png)

![image](https://user-images.githubusercontent.com

[2020-10-21 13:40] richard67 commented on #190
Oops, so we actually can do more than 3 levels? Then I was completely wrong, too, because I thought we couldn't.

[2020-10-21 13:59] richard67 commented on #125
@brianteeman I need your advise regarding this issue while working on a fix.

You wrote in the issue description as expected result:

My question: Let's assume I have fixed this kind of menu item so that the complete thing is clickable, but it's a button and not a link, should it be underlined when hovering because it's clickable? Or should this only be done for real hyperlinks but not for buttons

[2020-10-21 14:03] brianteeman commented on #125
Well it shouldnt be a button

[2020-10-21 14:06] richard67 commented on #125
In case if it is a menu item of type heading or separator there is no `<a>`.

Assuming the complete menu item will be the dropdown toggle and I shall not use a button, shall I use `<a href="#">` instead?

If so: Should it have a `role="button"` then?

[2020-10-21 14:06] chmst commented on #190
I counted sub-levels (2) . And also was wrong with my assuption that we have a limit of 2 sublevels.
I use to recommend this  as maximum for accessible sites

[2020-10-21 14:08] chmst commented on #159
@Scrabble96 canwe close this one?

[2020-10-21 14:08] richard67 commented on #125
You can check the description of #184 for what I'm currently doing, including markup. Feel free to make comments there if that's the better place.

[2020-10-21 15:11] brianteeman commented on #125
I will take a look tomorrow morning

[2020-10-21 15:18] Scrabble96 commented on #190
Sorry to raise the alarm unnecessarily. Could I suggest that the default option is to show All levels? It may always have been that you select the number of levels you want, but for anyone new to Joomla they wouldn't necessarily realise or notice this and assume that all are displayed automatically.

[2020-10-21 15:20] Scrabble96 commented on #190
BTW, what is the difference between a separator used as a heading and the 'menu heading' item type?

[2020-10-21 15:26] brianteeman commented on #125
Can you check the menu I have at https://sinaileeds.uk

The first lot of top menu items are alias and the one labelled HHD is a heading

[2020-10-21 15:47] Scrabble96 commented on #159
Ok. But I've added a comment to #132

[2020-10-21 15:47] #159 closed, assigned to nobody

[2020-10-21 16:21] Scrabble96 commented on #190
I'll close this, but I'd still like an answer to the above.

[2020-10-21 16:21] #190 closed, assigned to nobody

[2020-10-21 16:35] Scrabble96 opened #191 "Metis menu doesn't close on click outside menu & opens in same place when opening mobile version"
### Steps to reproduce the issue
1. Using the #48 installation packaage dated 20th October, click a dropdown item in the front-end menu in large screen horizontal view.
2. As above, and without closing the menu, narrow the screen so that the horizontal menu disappears and you are presented with the burger.
Open the menu from the burger

### Expected result
1. Click or tap outside the menu and the

[2020-10-21 16:49] richard67 commented on #125
@brianteeman As I can see the alias menu items have a link, but when clicking that item it is only a dropdown toggle. In the dropdown then is at the top a menu item with a different title and the same link. This is of course a way to do it. But it means you have a menu item, e.g. "About", where the link is not really used, and another one, "About Sinai", where it is used, and you have to care your

[2020-10-21 16:55] richard67 commented on #190
That's something which either would have to be done for all frontend menus, or we have to override the xml file with the menu module options, too-

@chmst @drmenzelit Do we really want that, have a modified XML? Or should that be done for any kind of frontend menu, metismenu or not? If the first, it has do be done here in this repo, if the latter, then it has to be done in the CMS repo.

There is

[2020-10-21 17:20] brianteeman commented on #125
The hhd menu is a header not an alias

[2020-10-21 17:21] richard67 commented on #125
Yes, I saw. I talked about the others.

[2020-10-21 17:29] brianteeman commented on #125
For the purpose of the pr I just wanted to show that it can be done with a
heading

On Wed, 21 Oct 2020, 18:21 Richard Fath, <notifications@github.com> wrote:

[2020-10-21 17:41] richard67 commented on #125
I see it is an `<a>` without any `href` property, not even `href="#"`.

[code]

As I've learned just now, reading specs, it is allowed in HTML5 to have that, `<a>` without any `href`. Before HTML5 it was required.

Shall I do it in that way in my PR, replacing the buttons with `<a>` elements?

[2020-10-21 18:38] chmst commented on #190
No, we do not modify the XML here in Caasiopeia.

[2020-10-21 20:01] richard67 commented on #162
Finally solved with PR #193 .

[2020-10-21 20:01] #162 closed, assigned to nobody

[2020-10-21 20:37] brianteeman commented on #190
Sorry that is not correct the sample data does use different values for the levels in the module to the default

https://github.com/joomla/cassiopeia/blob/development/plugins/sampledata/blog/blog.php#L1170-L1171

and the default is to end at all

[2020-10-21 20:38] brianteeman commented on #125
It is a suggestion. I am not telling anyone to do anything especially regarding accessibility

[2020-10-21 20:39] brianteeman commented on #125
BTW with this suggestion there is no need for metismenu at all

[2020-10-21 21:26] hans2103 commented on #181
Not able to reproduce the issue.
I have checked out cassiopeia development branch and the title is an anchor.
<img width="689" alt="Schermafbeelding 2020-10-21 om 23 24 42" src="https://user-images.githubusercontent.com/639822/96788983-9f455080-13f4-11eb-9a0a-e6437605788e.png">

[2020-10-21 22:12] chmst commented on #181
You are right, so the cassiopeia need an undersore. But this is ugly.  undersore or undersore  all titles only on hover?

[2020-10-22 06:32] hans2103 commented on #181
When a className is added to the link, the underscore will disappear

[2020-10-23 11:06] richard67 commented on #125
I've decided to replace the PR #184 by a new one with identical changes but using a branch in this repository here instead of my fork. This makes testing and contributing easier.

New PR is #195 .

@brianteeman I'd still be happy if you could have a look on it.

[2020-10-23 14:21] chmst opened #196 "Padding for menu items"
### Steps to reproduce the issue
Add a longer name for in menu item in submenus

![grafik](https://user-images.githubusercontent.com/1035262/97015229-9adf7b80-154b-11eb-813c-0a2592ee6daf.png)

### Expected result
There is some padding right (or left it rtl)

[2020-10-23 18:52] chmst commented on #188
@gostn regarding some difficulties, we have decided to change the stage of the articles, so that they appear published in cassiopeia.
Why? We cannot assume that new user know anything about the history of joomla and the new feature "workflow". For users it would look like a bug if the homepage is empty after installing sample data.

![grafik](https://user-images.githubusercontent.com/1035262/97042

[2020-10-24 04:13] gostn commented on #188
Good decision, closing report.

[2020-10-24 04:13] #188 closed, assigned to nobody

[2020-10-24 06:44] gostn commented on #150
Shall i open issues having label ´joomla-cms´ on https://github.com/joomla/joomla-cms and close here?

[2020-10-24 07:03] richard67 commented on #181
@chmst I can't reproduce the issue either. If you still can, please test PR #198 , and if it solves it for you, leave a comment there with your test result and close this issue here. Thanks in advance.

[2020-10-24 07:08] gostn commented on #150
closed as opened issue on https://github.com/joomla/joomla-cms/issues/31219

[2020-10-24 07:08] #150 closed, assigned to nobody

[2020-10-24 07:14] gostn commented on #187
closed as reported on https://github.com/joomla/joomla-cms/issues/31220

[2020-10-24 07:14] #187 closed, assigned to nobody

[2020-10-24 07:17] #158 closed, assigned to nobody

[2020-10-24 07:19] richard67 commented on #196
Solved with #199 .

[2020-10-24 07:19] #196 closed, assigned to drmenzelit

[2020-10-24 08:42] richard67 commented on #181
@chmst Silly me. I can reproduce the issue and confirm that PR #198 fixes it. You have to follow the title link so that it becomes active.

Closing as solved with pull request #198 .

[2020-10-24 08:42] #181 closed, assigned to nobody

[2020-10-24 13:11] richard67 commented on #191
Not sure if we can fix that. Will investigate.

[2020-10-24 13:14] richard67 commented on #125
Solved with pull request #195 .

[2020-10-24 13:14] #125 closed, assigned to richard67

[2020-10-24 13:56] chmst commented on #87
It is not only vertical menu but every module without card header. Must be solved in joomla cms and imho it is a release blocker. But this is soething I cannot decide.

[2020-10-24 14:58] Scrabble96 commented on #191
In my own J4 dev template, each UL has its own id based on the parent item number, e.g. id="drop-111" (I've used 'drop' as it's a dropdown menu).

If I add `onclick="closeMainMenu"` to the main website wrapper and then use this JS, it will close the sub-menu when I click outside the menu if I have opened the sub-menu with id drop-103.

`function closeMainMenu() {`
`  document.getElementById("drop-

[2020-10-24 15:00] richard67 commented on #191
We will run into the problem with creating unique id properties when having that menu module more than once on a page, which we have discussed elsewhere already.

[2020-10-24 16:27] Scrabble96 commented on #191
I don't want to target individual ids; I was just using one for testing purposes to see if I was on the right track.
The JS works when targeting an ID but doesn't work if you target multiple elements. But I think that is just my inexperience with JS and I probably haven't written it correctly. I'm sure there must be a way to make it work. In fact, it needs a bit more code to change the button's ar

[2020-10-24 19:42] richard67 commented on #191
@Scrabble96 Regarding your 2nd point, narrowing the screen size and the menu keeps its expanded state: I see no issue in that. Normally you either have a desktop or a mobile device. On a mobile device you may change between portrait and landscape. This reducing of screen size so that it changes from desktop to mobile view is a scenario which happens ONLY during testing.

It might even be desired t

[2020-10-24 19:47] richard67 commented on #191
On the other hand I just see in some good example websites, e.g. the example which Brian had provided in his issue #125 , that it seems to be common to close the menu when clicking outside, so it seems to be good UX to do that.

I'll see what we can do for that.

[2020-10-25 10:58] brianteeman opened #202 "Blog Sample Data"
I would have reported this in the main repo but as the plugin is being worked on here it seemed best to report here

The permissions on the menu items created in the sample data need to be reviewed

- Author Login (guest)
- Template Settings (super user)
- Author Login alias in footer (guest)

The Logout menu item should be using the specific logout menu type

[2020-10-25 11:01] richard67 commented on #202
@chmst That's something for you. I help of course if I can.

[2020-10-26 13:33] chmst commented on #202
Changing the view level of menu item "Author Login" to "guest" needs changing the installation file (base.sql). Otherwise it results in a 403 (as the logout button does already).

Template Settings are view Level "special" - we don't have a viel level for super users only.

But this remembers that the name "Author Login" is not correct. I change it to "Login".

[2020-10-26 13:39] chmst commented on #172
closing this as resolved

[2020-10-26 13:39] #172 closed, assigned to hans2103, helvecio, drmenzelit

[2020-10-26 18:43] richard67 commented on #202
@chmst Changing base.sql and maybe even making an update SQL script to change installation on update would not be a big thing, I think. But the question is: Are we allowed to do that regarding the restrictions for database changes in the mission or task of our Cassiopeia enhancement project? If you think we can do it, I can make a PR to change that view level.

[2020-10-27 12:12] richard67 commented on #105
No. We should use the tools which drone will use, as can be seen in drone.yml.

See PR #205 for the PHPCS part.

[2020-10-27 12:19] richard67 commented on #105
For js, drone uses `npm run lint:js`. This did not report any problems.

For scss, drone uses `npm run lint:css`. This reports problems (but not for files changed by us here in this repository) and fails with error. We have to check if this remains when I will update the branches in this repository to latest 4.0-dev or the CMS repository.

[2020-10-27 15:03] chmst commented on #202
Changing the sql script It is a bigger change because there are also multilingual and testing sample data who use the installed modules. If we do that, it must be planned carefully - and as @brianteeman says, it is more an issue for joomla-cms.

[2020-10-27 15:04] chmst commented on #182
Closing this as the Voting Plugin is not in scope of this PR.

[2020-10-27 15:04] #182 closed, assigned to nobody

[2020-10-27 23:08] chmst opened #207 "Issues with basic modules - collection of ideas"
During installation, basic modules (main menu, breadcrumbs, login) are defined and stored in the database.

This causes several issues -  maybe it is possible changing the basic modules in the sample data plugin or replace them by others.

This is a collection of issues, as reminder

1) Breadcrumbs should not be displayes on the homepage
2) The login menuItem must have access level "guest"
3) The

[2020-10-27 23:45] brianteeman commented on #207
The only one that should be installed on a clean install is main menu

I always considered it a bug that breadcrumbs and login were published (I thought we had changed that)

[2020-10-28 11:24] richard67 opened #208 "[Request for Comment] Rename the "metismenu" layout to something more meaningful"
### Problem identified

See @brianteeman 's comment here [https://github.com/joomla/cassiopeia/pull/195#issuecomment-715308105](https://github.com/joomla/cassiopeia/pull/195#issuecomment-715308105):

As the name of a layout which can be selected in a module's advanced options is determined by file names we have to rename files.

### Proposed solution

Rename the layout and so following files:
- (l

[2020-10-28 12:59] richard67 commented on #191
Related issues in the metismenujs repository:
- https://github.com/onokumus/metismenujs/issues/5 "API to collapse all active ULs" is a feature request by @ciar4n from 11 Oct 2018. There hasn't been any activity on it except that it has been categorized.
- https://github.com/onokumus/metismenujs/issues/3 "Submenu is not closing when user clicks outside of its container in horizontal menus." is a bu

[2020-10-28 13:01] richard67 commented on #191
@brianteeman Sorry for bothering you, but your experience and opinion is of high value for me, as you have done hundreds if not thousands of web sites where I have done one. What do you think, should the metismenu automatically collapse all open submenus when the user clicks outside the menu, or is it better for UX (and for that thing starting with "a" which I try to avoid to name now) to keep it

[2020-10-28 13:09] brianteeman commented on #191
@richard67 Flattery will get you everywhere

I can't think of any site I have ever been on where the dropdown menu stays open as it would obscure the content

In the joomla admin where the admin menu is in the sidebar in its own dedicated space then I would expect it to stay open

[2020-10-28 13:13] richard67 commented on #191
@brianteeman Makes absolutely sense to me. Thanks for the reply and sorry if it was a too silly question.

So we have to fix that. I think we can.

[2020-10-28 13:15] brianteeman commented on #191
No such thing as a silly question. Just silly answers

[2020-10-28 16:27] Quy opened #209 "All Tags - Full width display"
![all-tags](https://user-images.githubusercontent.com/368084/97465843-b3f77c00-18ff-11eb-855e-5b5ecda85709.png)

[2020-10-28 22:08] chmst commented on #209
The layout of com_tags - default_items must be reviewed and changed, maybe better in the core - @drmenzelit ?

[2020-10-28 22:51] richard67 opened #212 "[Request for Comment] Javascript for the metismenu is neither transpiled nor minified"
### Problem identified

Currently the javascript file [templates/cassiopeia/js/mod_menu/menu-metismenu.js](https://github.com/joomla/cassiopeia/blob/development/templates/cassiopeia/js/mod_menu/menu-metismenu.js) is not minified by any build script.

When renaming it from `menu-metismenu.js` to `menu-metismenu.es6.js` and running `npm run build:js`, it will transpiled and minified, **but**:

In th

[2020-10-28 22:58] richard67 commented on #191
The first of the two issues, collapsing an open drop-down when clicking outside the menu, should be solved with pull request #210 .

Update 2020-11-03: The first of the two issues has been solved with #210 .

[2020-10-28 23:07] richard67 opened #213 "Metismenu javascript doesn't contain copyright information"
### Steps to reproduce the issue

Check file [templates/cassiopeia/js/mod_menu/menu-metismenu.js](https://github.com/joomla/cassiopeia/blob/development/templates/cassiopeia/js/mod_menu/menu-metismenu.js).

### Expected result

The file contains the usual copyright information at the top.

### Actual result

The file doesn't contains any copyright information.

### System information (as much as po

[2020-10-28 23:09] brianteeman commented on #212
I guess you can do it the way that the atum/js is done

1. Move the js folder to media/source/template
2. Remove line 38 from build\build-modules-js\compilejs.es6.js as its not needed
3. rename the file to .es6.js

now when you run the build script the js will be minified and transpiled and copied to
media/template

[2020-10-28 23:11] brianteeman commented on #213
Just add the copyright to the file and follow the instructions in #212

[2020-10-28 23:11] richard67 opened #214 "[Request for Comment] The template.js file of Cassippeia seems to be obsolete"
### Problem identified

It seems the template.js file of Cassippeia is obsolete, see [https://github.com/joomla/cassiopeia/pull/210#issuecomment-718201869](https://github.com/joomla/cassiopeia/pull/210#issuecomment-718201869).

### Proposed solution

Someone check and if that is true, correct it.

### Open questions

- Shall the file really be removed if it is obsolete, or shall it serve as a kind

[2020-10-28 23:14] brianteeman commented on #212
You could do just point 3 but as you have seen the file will be overwritten when you run the build script

[2020-10-28 23:14] richard67 commented on #213
@brianteeman Question: Which years for the copyright? We have "2005 - 2020" in other Cassiopeia files. But now we have 2020. Would it be "2020 - 2020" then? Looks a bit silly. Or just "2020"?

[2020-10-28 23:15] brianteeman commented on #214
What makes you think it is obsolete?

[2020-10-28 23:15] richard67 commented on #212
@brianteeman Thanks. Will do that tomorrow or so.

[2020-10-28 23:17] richard67 commented on #214
Dimitris' comment [https://github.com/joomla/cassiopeia/pull/210#issuecomment-718201869](https://github.com/joomla/cassiopeia/pull/210#issuecomment-718201869).

[2020-10-28 23:17] brianteeman commented on #213
So there has been a production department policy change on this and most files have not been updated. The original pr was done by @nibra for 2.10 iirc

[2020-10-28 23:19] brianteeman commented on #214
I would double check and then check again

[2020-10-28 23:21] richard67 commented on #214
Sure, that's why I made this RFC so not me only but others too can check that.

[2020-10-28 23:33] brianteeman opened #215 "dropdown menu background"
The background of the dropdown disappears before the menu items - see how the link to Blog is still visible when the menu item collapses

![menucollapse](https://user-images.githubusercontent.com/1296369/97507821-ed6ace80-1975-11eb-8f1b-34f713101593.gif)

[2020-10-28 23:35] richard67 commented on #215
Confirmed, I've noticed that too when testing my PR.

@drmenzelit Could that be caused by the transition for the dropdown toggles?

[2020-10-29 07:08] gostn commented on #215
similar https://github.com/joomla/joomla-cms/issues/28260

[2020-10-29 13:16] dgrammatiko opened #216 "Cassiopeia template.js"
The code in the template.js should be totally useless right now, let me explain:

[code]
This part existed for the grouped buttons in J3 but in J4 the functionality is done by html+css, no js needed or even if it is needed then it should be coupled with the actual Form Field (radio ?) not thrown in the template. The template is just an orchestrator, it doesn't and shouldn't impose things (embrace

[2020-10-29 13:24] richard67 commented on #214
Closing as duplicate to #216 .

[2020-10-29 13:24] #214 closed, assigned to nobody

[2020-10-29 13:24] richard67 commented on #216
I had already created an issue. Have closed it in favour of this here.

[2020-10-29 13:56] dgrammatiko commented on #216
Sorry, I've missed that. Anyways I think the explanation here is something that can be verified and tackled

[2020-10-29 13:57] richard67 commented on #216
Yes, that's why I've closed mine in favour of this one, because here the information comes from first and not from second hand 😉

[2020-10-30 09:27] chmst opened #218 "Dropdowns in modules - z-index"
### Steps to reproduce the issue
Make a language switcher module with dropdown.

### Expected result
The dropdown is visible.

### Actual result

![grafik](https://user-images.githubusercontent.com/1035262/97688342-4c296880-1a9a-11eb-92d2-736df1ccf365.png)

### System information (as much as possible)

### Additional comments

[2020-10-31 17:58] chmst opened #219 "Offline screen logo and offline image - view not scrollable"
### Steps to reproduce the issue
Add a logo to your cassiopeia and a image to the offline screen.  Both are visible on the offline screen.

### Actual result
logo and offline screen always are visible. If they make the screen higher than the view, no scrolling is possible.  This is a bug.

![grafik](https://user-images.githubusercontent.com/1035262/97786245-aca7cb00-1baa-11eb-8dd8-55b989817e1a.png

[2020-11-01 23:18] chmst opened #220 "Styling of popular tags - cloud layout"
### Steps to reproduce the issue
Make a module Popular tags. Choose cloud layout but no counting.

### Expected result
A tag can be seen as a whole.

### Actual result
![grafik](https://user-images.githubusercontent.com/1035262/97818111-c0355d80-1ca0-11eb-8189-5f7cf32dc2b9.png)

It is not visible where a tag ends. "New Feature Workflow" is one Tag .

Has to be done in joomla-cms

### System inform

[2020-11-01 23:23] brianteeman commented on #220
Isnt it just a css issue - adding a background?

[2020-11-02 11:28] chmst commented on #220
Yes, you are right. Finally it is the user who decides how to stlye this.

[2020-11-02 11:28] #220 closed, assigned to nobody

[2020-11-02 11:31] brianteeman commented on #220
I do think there should be a sensible default though.

[2020-11-02 12:17] chmst commented on #220
I thought so, too, maybe a separator or a background. But it depends on parameters.

Are the numbers? They are in badges, so it is obvious what is in a tag and a background or separator would be too much.
Are there different font-sizes? If yes, a default-background looks bad.

The layout could generate different classes for tags, depending on params (this is why I added the joomla-cms label). Or t

[2020-11-02 12:26] chmst commented on #208
I would not use "metis" , as it is an artificial name (most users don't know who metis was).

 "cassiopeiamenu" ?

[2020-11-02 13:29] richard67 commented on #208
Google is their friend.

[2020-11-02 13:30] richard67 commented on #208
I've meanwhile decided to use "dropdown-metismenu". Will be solved either with PR #217 or PR #221 .

[2020-11-02 13:30] #208 closed, assigned to nobody

[2020-11-02 13:31] richard67 commented on #212
Will be solved either with PR #217 or PR #221 .

[2020-11-02 13:31] #212 closed, assigned to richard67

[2020-11-02 13:31] richard67 commented on #213
Will be solved either with PR #217 or PR #221 .

[2020-11-02 13:31] #213 closed, assigned to richard67

[2020-11-02 14:15] #219 closed, assigned to drmenzelit

[2020-11-02 14:54] chmst commented on #155
Resolved

[2020-11-02 14:54] #155 closed, assigned to chmst

[2020-11-02 15:00] chmst commented on #94
@hans2103 I think that edit buttons which appear on hover are the contrary of accessible. Here as well as on modules.

[2020-11-02 15:10] drmenzelit commented on #218
The problem appears only when the language module has the style "card" and that is due to
`.card {
overflow: hidden;
}`
that we added with PR #195

[2020-11-02 15:33] drmenzelit commented on #215
I was not able to reproduce...

[2020-11-02 15:38] richard67 commented on #215
@drmenzelit You have checked with up-to-date development branch?

[2020-11-03 08:37] richard67 commented on #208
For the layout selection in the menu module's advanced option I've meanwhile decided to use "Dropdown", see PR #217 or PR #221 .

[2020-11-03 10:17] chmst commented on #154
Filter issues ares resolved.

[2020-11-03 10:17] #154 closed, assigned to hans2103

[2020-11-03 10:24] richard67 commented on #191
Regarding the second issue see my comment above [https://github.com/joomla/cassiopeia/issues/191#issuecomment-716045367](https://github.com/joomla/cassiopeia/issues/191#issuecomment-716045367):

So I would say it's a "won't fix". @chmst @drmenzelit What do you think?

[2020-11-03 10:52] chmst commented on #191
agreed. This is an effect which is caused by the mix of installation data and later added sample data. In "real life" sites, a webdesinger constructs own menus.

[2020-11-03 10:56] infograf768 commented on #218
See https://github.com/joomla/cassiopeia/pull/223#issuecomment-721039440

We should try to get something like
<img width="358" alt="Screen Shot 2020-11-04 at 12 48 36" src="https://user-images.githubusercontent.com/869724/98108372-2508d780-1e9c-11eb-9ae8-6e6590c3fc3e.png">

which implies tweaking the languages module css
for example some stuff like
[code]
Also see concerning the alt:
https://githu

[2020-11-03 12:28] richard67 commented on #191
@chmst Sorry, I don't understand the relation of that comment to my previous one. My comment refers to 2nd issue that the dropdowns of the metismenu remain in their status when resizing screen from desktop to mobile. How is that related to data?

[2020-11-03 13:23] chmst commented on #191
Sorry, my bad. I misunderstoode something. (screens sometimes would be really useful ..)
And again - I agree that we can leave this as is.

[2020-11-03 14:00] drmenzelit commented on #218
General css changes should be done in core, because mod_languages has its own css file: build/media_source/mod_languages/css/template.css

In Cassiopeia we can do something with colours.
And we need to solve the overflow:hidden problem.

[2020-11-04 08:01] infograf768 commented on #218
The css I posted above are mod_languages own css.

[2020-11-05 10:54] chmst commented on #87
I am not sure if it is cassiopeia or core but terrible wrong

[2020-11-05 11:05] chmst commented on #87
https://issues.joomla.org/tracker/joomla-cms/30639

[2020-11-07 22:12] brianteeman opened #225 "tags and article filter"
### Steps to reproduce the issue
either create a tags list menu item or a category article list AND set the filter to display one of the options

### Actual result
![image](https://user-images.githubusercontent.com/1296369/98452303-e8600900-2145-11eb-983a-ce02932e63b6.png)

### Expected
![image](https://user-images.githubusercontent.com/1296369/98452339-50aeea80-2146-11eb-8204-1a6d62759de4.png)

#

[2020-11-09 11:24] richard67 commented on #218
The same problem exists when using the metismenu e.g. on position top-a, also caused by the "card" style.

[2020-11-09 12:39] brianteeman opened #228 "Template Styles"
I was taking a look to see if we needed to add alt description etc to the site logo.

As it currently defaults to have an alt="site name" I think that is fine.

But I did get a bit confused by the Title and Description fields

![image](https://user-images.githubusercontent.com/1296369/98542179-6d533b80-2288-11eb-9b53-abfe0619929d.png)

Title is only displayed if there is no logo displayed - thats

[2020-11-09 18:27] chmst commented on #228
Agreed. As native speaker you are invited to find a good label. I thought something like "Slogan" but "tagline" sounds good too. This is part of the core, could you make a PR for it?

[2020-11-09 18:43] brianteeman commented on #228
Tagline is the generally accepted term from what I can tell

That still leaves the "image or Title" description issue

I brought it up here because its specific to cassiopeia and if I edit the core for this then it will make merging this template harder.

[2020-11-09 19:33] chmst commented on #228
Closing this as it is resolved, thanks.

[2020-11-09 19:33] #228 closed, assigned to nobody

[2020-11-11 20:07] chmst commented on #27
As there was no response, I am closing this.

[2020-11-11 20:07] #27 closed, assigned to coolcat-creations

[2020-11-11 20:11] chmst commented on #209
@drmenzelit could you look there? If it is for core or if it is for scss

[2020-11-12 09:55] drmenzelit commented on #225
That is already solved:
https://github.com/joomla/cassiopeia/blame/edbaef6b94321bc8a3ecb76115b8b2e68204a316/templates/cassiopeia/scss/blocks/_global.scss#L58

![grafik](https://user-images.githubusercontent.com/9153168/98924737-75ec8180-24d5-11eb-8615-00aa2198c721.png)

Could you please test again?

[2020-11-12 10:39] chmst opened #230 "padding right in dropdown menu"
### Steps to reproduce the issue
Add a new menu item to the blog sample data menu.

Due to the padding around the dropdown arrow, the distance between the menu items looks buggy

![grafik](https://user-images.githubusercontent.com/1035262/98929527-8dc70400-24db-11eb-9e3a-c4377e367ff4.png)

[2020-11-12 11:09] drmenzelit commented on #209
https://github.com/joomla/joomla-cms/issues/31388

[2020-11-12 15:48] chmst opened #232 "Styling and a11y issue in frontend editing"
### Steps to reproduce the issue

https://issues.joomla.org/tracker/joomla-cms/29137

[2020-11-13 07:58] brianteeman opened #233 "Font differences betwen editor and site #30336"
See https://github.com/joomla/joomla-cms/issues/30336

[2020-11-13 11:16] richard67 commented on #218
Overflow issue when module style = cards solved with PR #231 .

[2020-11-13 11:16] #218 closed, assigned to nobody

[2020-11-13 17:21] richard67 commented on #105
For SCSS see #235 .

[2020-11-14 20:02] richard67 commented on #230
I ~~plan to~~ will fix this with my PR #234 .

[2020-11-14 22:32] chmst opened #237 "Banner Module extends too long in smaller viewports"
### Steps to reproduce the issue
The banner overelay is defined with 70vH, the overlay has heitgh 100%. Emulating smaller screens seems to make the banner image longer and longer.

[2020-11-14 22:33] chmst commented on #232
Styling is in TinyMCE.

[2020-11-14 22:33] #232 closed, assigned to nobody

[2020-11-14 23:08] brianteeman commented on #232
What does tinymce have to do with the linked issue?

[2020-11-15 10:40] #237 closed, assigned to hans2103, drmenzelit

[2020-11-15 16:34] chmst commented on #174
Closing as we hav a PR

[2020-11-15 16:34] #174 closed, assigned to nobody

[2020-11-15 16:35] chmst commented on #180
Fixed with our colours.

[2020-11-15 16:35] #180 closed, assigned to nobody

[2020-11-15 22:22] richard67 commented on #230
Will be solved with PR #234 , which is ready for testing now.

[2020-11-15 22:22] #230 closed, assigned to drmenzelit

[2020-11-15 22:23] richard67 commented on #232
@brianteeman Maybe @chmst mixed up the issues, and her comment on TinyMCE refers to your issue #233 ?

[2020-11-16 17:03] Scrabble96 commented on #191
Shall I close this?

[2020-11-16 17:06] Scrabble96 opened #242 "Back-to-top-link results in #top in URL"
### Steps to reproduce the issue
Scroll down a page in Cassiopeia using the installation from PR48
Click the back-to-top link

### Expected result
Taken to top of page
No change of URL

### Actual result
Taken to top of page
BUT /#top appended to URL

### System information (as much as possible)
This doesn't happen in builds taken from the main Joomla github.

### Additional comments

[2020-11-16 17:06] richard67 commented on #191
Yes

[2020-11-16 17:46] #191 closed, assigned to richard67

[2020-11-17 06:50] particthistle commented on #242
Functionality looks to have changed in https://github.com/joomla/cassiopeia/pull/169 when `id="back-top"` was removed, which was the id used in the template.js to trigger the home scroll.

This then disables the JS in template.js that triggers back-to-top without the need for the #top.

The template.js may however now be on it's way out, based on discussion in https://github.com/joomla/cassiopeia/

[2020-11-17 09:35] drmenzelit commented on #242
We have a css-only solution for back-to-top. The template.js is obsolete and has to be reviewed.
The change in the url is an expected behavior I think.. @hans2103 can you tell more about it?

[2020-11-17 12:01] Scrabble96 commented on #242
Even if it is expected, it's not a good solution and you will get lots of queries like mine in the future if it stays that way.

If a template.js is required to make this work, why not keep it?
Or, as the js for this is so small, add it to the template inline, but either way, don't use 'var' as that is outdated and should be 'const' or 'let'.

[2020-11-17 12:18] chmst commented on #225
Closing this as it is resolved.

[2020-11-17 12:18] #225 closed, assigned to hans2103, drmenzelit

[2020-11-17 12:22] hans2103 commented on #242
I'm afraid we have to revert the removal of `id="back-top"` to prevent the hashtag in the URL.
The back-to-top works when js fails... the link `href="#top"` works. You'll have #top in the url.
The back-to-top works when js works... current template.js will add preventDefault and scroll window to 0,0. Without #top in the url.  :-(
I'm not aware of a non-js solution to prevent the #top in the url af

[2020-11-17 12:26] hans2103 commented on #242
PR https://github.com/joomla/cassiopeia/pull/244 created

[2020-11-17 13:31] chmst commented on #16
JAT needs nightly builds for testing, so closing this here

[2020-11-17 13:31] #16 closed, assigned to hans2103

[2020-11-17 13:34] drmenzelit commented on #33
Further improvements after merging in core.

[2020-11-17 13:34] #33 closed, assigned to nobody

[2020-11-17 17:12] chmst commented on #242
Thank you! PR is merged.

[2020-11-17 17:12] #242 closed, assigned to nobody

[2020-11-17 19:38] drmenzelit commented on #233
The solution posted in https://github.com/joomla/joomla-cms/issues/30336 will have the same effect as including the template.ccs from Cassiopeia as custom css in the configuration of TinyMCE

![grafik](https://user-images.githubusercontent.com/9153168/99438381-04b53000-2914-11eb-94b8-0c16cf492e6d.png)

See PR #246 for some improvements in font family and font size.

[2020-11-17 21:45] chmst commented on #209
Work in progress in the core, so cloing it here.

[2020-11-17 21:45] #209 closed, assigned to drmenzelit

[2020-11-21 18:50] hans2103 commented on #170
created PR https://github.com/joomla/joomla-cms/pull/31454

[2020-11-21 19:04] #185 closed, assigned to nobody

[2020-11-21 19:49] chmst commented on #170
closing this as there is a PR. Thank you @hans2103

[2020-11-21 19:49] #170 closed, assigned to nobody

[2020-11-21 21:18] chmst commented on #66
closed

[2020-11-21 21:18] #66 closed, assigned to nobody

[2020-11-21 22:13] chmst commented on #17
Closing this as there is a PR #248 for blog sample data.
Testing sample data is not in scope of this project.

[2020-11-21 22:13] #17 closed, assigned to helvecio

[2020-11-22 18:40] chmst opened #252 "Overlapping titles of dropdowns in medium screens"
### Steps to reproduce the issue
Make a long menu item. On large screens it is on a white background - ok.
But already on medium screen the background is only 180px and the text is overlapping.

### Expected result
The background expands as much as possible or the text is wrapped

### Actual result

![grafik](https://user-images.githubusercontent.com/1035262/99913871-64d41980-2cfa-11eb-9124-41cd9a

[2020-11-23 13:38] drmenzelit commented on #233
Solved with PR #246

[2020-11-23 13:38] #233 closed, assigned to nobody

[2020-11-23 15:06] chmst commented on #252
closing as we have a pr

[2020-11-23 15:06] #252 closed, assigned to hans2103, drmenzelit

[2020-11-23 17:58] richard67 commented on #216
After PR #244 has been merged, at least the back to top part of the template.js is not obsolete anymore.

[2020-11-23 18:02] dgrammatiko commented on #216
Honestly you don't need JS for this: https://moderncss.dev/pure-css-smooth-scroll-back-to-top/ (plenty more articles for a css only solution)

[2020-11-23 18:09] brianteeman commented on #216
it is needed if you insist on removing #back-to-top from the url

[2020-11-23 18:12] dgrammatiko commented on #216
No it's not and I just gave you the link with all the html/css. No freaking JS for moving to the top of the page in 2020...

[2020-11-23 18:22] brianteeman commented on #216
Sorry dmitris the code in that demo and in all the pure css demos will keep the #anchor in the url. They didnt want that - hence the js.

As you don't believe me I have put the code from that article on a real link instead of in a codepen iframe and you can see for yourself that the #anchor is present

http://tee.mn/dimitris/

[2020-11-23 18:23] richard67 commented on #216
@dgrammatiko See also #242 .

[2020-11-23 18:30] dgrammatiko commented on #216
I just went through the issue and I have to say that people should firstly invest understanding how the web is really working before raising issues. The `#whatever` anchor part is fundamental to the web, eg if I want to send you a link with some info on `CSS property: position: Table elements as sticky` I would copy the link from the relative anchor https://caniuse.com/mdn-css_properties_position_

[2020-11-23 18:32] richard67 commented on #216
That might all be right .. I've just linked the issue to make clear what has been done why.

[2020-11-23 18:34] dgrammatiko commented on #216
Well, Javascript is a powerful language and will allow you to do a lot on the DOM, but before doing anything always ask if it worth the effort or is it really solving a problem. In this case there's no problem that needs a js solution.

My 2c

[2020-11-23 18:38] brianteeman commented on #216
I am not saying I agree with removing the anchor - just explaining

[2020-11-23 18:41] dgrammatiko commented on #216
I know, my comments are not really targeting you or @richard67 . I just needed to explain why the whole js solution is a placebo...

[2020-11-23 18:43] brianteeman commented on #216
Apart from the bit where you said that the link showed you how to do it without any #anchor in the url ;)

[2020-11-23 18:44] dgrammatiko commented on #216
Yeah my bad, I didn't read the issue right away...

[2020-11-23 18:53] richard67 commented on #216
Well, I wouldn't call myself a web expert at all, but as far as I know and have experienced with Google search console, the anchor should not really be an issue. I didn't really understand why #242 was an issue.

[2020-11-23 19:03] dgrammatiko commented on #216
It's not. The whole idea of "clean URLs" in the client side just doesn't exist and (as long as the anchors actually exist in the page) in fact as I explained above it's a feature (eg guide ppl to the particular part of the page that you want to share).

Since the anchor is only attached in the client side Google will never know about it. Also even if you manage to put anchors in your sitemap Googl

[2020-11-23 19:10] richard67 commented on #216
Well, as we are finishing our development here soon, we might not fix this here but later in the CMS repo with a future PR.

At the end our work here did not touch it and leaves it like it was before.

[2020-11-23 19:11] richard67 commented on #216
So if we don't solve it here, we should move this issue to the CMS repository after we have made our PR for the CMS repo with our work.

[2020-11-27 18:15] chmst commented on #77
closing for cassiopeia

[2020-11-27 18:15] #77 closed, assigned to nobody

[2020-11-28 19:13] Scrabble96 opened #255 "Proposal for a jQuery-free alternative to MetisMenu"
I realise I may just be too late, as you've closed PR48 and have raised a PR for the main Joomla code. However...

### What needs to be fixed
Joomla! 4x should have its own core menu

### Why this should be fixed
MetisMenu relies on jQuery which Joomla 4 is attempting to make redundant
MetisMenu is third-party software that relies on external maintenance
The responsive menu is ‘trapped’ in the hea

[2020-11-28 19:25] richard67 commented on #255
@Scrabble96 We are using metismenujs, this is already without jQuery.

[2020-11-28 20:31] richard67 commented on #255
You are wrong with your assumption that we used metismenu with jQuery.

We use metismenujs, the vanilla variant of metismenu. And this is already used in backend by the Atum template, so we do not introduce any new 3rd party dependency.

You can see and read all this in our brand new PR for the CMS repository: [https://github.com/joomla/joomla-cms/pull/31520](https://github.com/joomla/joomla-cms/p

[2020-11-28 20:31] #255 closed, assigned to nobody

[2020-11-30 16:06] chmst commented on #207
https://github.com/joomla/joomla-cms/issues/31541 naming sidebar-left and sidebar-right

[2020-11-30 22:36] richard67 commented on #215
Solved with PR #263 . Will merge it now into the CMS PR.

[2020-11-30 22:36] #215 closed, assigned to nobody

[2020-12-04 18:38] richard67 commented on #105
All done.

[2020-12-04 18:38] #105 closed, assigned to richard67